<div style="background: #fff; width: 600px; margin: 0 auto 0 auto; border: 1px solid #bbb; padding-bottom: 50px;">
  <div style="text-align: center; margin-top: 30px;">
    <img src="https://s3.amazonaws.com/safetheday/mailer/logowords.png" style="width: 90px;">
  </div>

  <div style="text-align: center; margin-top: 30px;">
    <img src="https://s3.amazonaws.com/safetheday/mailer/mailer-words.png">
  </div>

  <div style="background-color: #f6f6f6; width: 400px; margin: 30px auto 0 auto; padding: 5px;">
    <div style="background-color: #ffffff; padding: 15px;">
      <h3 style="font-weight: bold; font-size: 15px; margin: 0; color: #333;" >
        Your Order
      </h3>
      <div style="display: table; width: 100%; margin-top: 15px;">
        <div style="float: left; width: 130px">
          <img src="https://s3.amazonaws.com/safetheday/mailer/cubey.png" style="height: 100px;">
        </div>
        <div style="float: left; width: 230px; font-size: 13px; color: #777777;">
          <div style="display: table; width: 100%; margin-bottom: 10px;">
            <div style="float: left;">
              The Wingman
            </div>
            <div style="float: right; font-weight: bold; color: #555555;">
              $9.99CAD
            </div>
          </div>
          <div style="display: table; width: 100%; margin-bottom: 10px;">
            <div style="float: left;">
              Tax
            </div>
            <div style="float: right; font-weight: bold; color: #555555;">
              $1.58CAD
            </div>
          </div>
          <hr style="border: 0; border-top: 1px dashed #cccccc; margin-bottom: 10px;">
          <div style="display: table; width: 100%;">
            <div style="float: left;">
              Total
            </div>
            <div style="float: right; font-weight: bold; color: #555555; font-size: 16px;">
              $11.57CAD
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 410px; margin: 0 auto 0 auto;">
    <div style="margin-top: 30px;">
      <h3 style="font-weight: bold; font-size: 15px; margin: 0; color: #333;">
        Refer Friends, Earn Free Months
      </h3>

      <p style="margin-top: 20px; color: #777; font-size: 15px; line-height: 1.4em;">
        Every time a friend becomes a member, we credit your account with a free month. Click below to share your custom referral link.
      </p>

      <table>
        <tr>
          <td style="vertical-align: baseline; width: 123px; text-align: center; padding-right: 15px;">
            <a href="http://www.google.ca" target="_blank" style="padding: 10px; color: #777 !important; text-decoration: none; font-size: 15px; display: block; border: 1px solid #ddd; ">
              <img style="vertical-align: middle;" src="https://s3.amazonaws.com/safetheday/mailer/facebookicon.png" >
              share
            </a>
          </td>
          <td style="vertical-align: baseline; width: 123px; text-align: center; padding-right: 15px;">
            <a href="http://www.google.ca" target="_blank" style="padding: 10px; color: #777 !important; text-decoration: none; font-size: 15px; display: block; border: 1px solid #ddd; ">
              <img style="vertical-align: middle; margin-right: 5px;" src="https://s3.amazonaws.com/safetheday/mailer/twittericon.png" >
              share
            </a>
          </td>
          <td style="vertical-align: baseline; width: 123px; text-align: center;">
            <a href="http://www.google.ca" target="_blank" style="padding: 10px; color: #777 !important; text-decoration: none; font-size: 15px; display: block; border: 1px solid #ddd;">
              <img style="vertical-align: middle; margin-right: 5px;" src="https://s3.amazonaws.com/safetheday/mailer/mailicon2.png" >
              share
            </a>
          </td>
        </tr>
      </table>

      <p style="margin: 0; margin-top: 20px; color: #777; font-size: 15px; line-height: 1.4em;">
        Or copy and paste this link wherever your friends will see it
      </p>
      <input type="text" readonly="readonly" style="margin-top: 30px; width: 390px; background-color: #eee; color: #555; border: 1px solid #ddd;
        padding: 8px; margin-top: 20px;" value="http://blah.com">
    </div>
  </div>
</div>