<%= render "admin_side", :current => "numbers" %>

<div class="contenter">
  <div class="section">
    <h1>The Numbers</h1>
  </div>
  <div class="section">
    Just go to <a href="https://manage.stripe.com" target="_blank">Stripe</a> you idiot
  </div>
</div>