/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@font-face {
  font-family: "ProximaNovaLight";
  src: url(/assets/ProximaNova-Light-b26d8534a06b8f48486cc142e2b27b74.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url(/assets/ProximaNova-Semibold-d1c38a33f2c7dc94441feebfc7c95b26.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/assets/ProximaNova-Regular-dbc2a57755327488c2b77177c03a9d00.otf) format('opentype');
}

@font-face {
  font-family: "Quicksand";
  src: url(/assets/Quicksand-Light-f6fbce4f079713e1579103b1e5f3a02b.otf) format('opentype');
}
@font-face {
  font-family: "ProximaNovaLight";
  src: url(/assets/ProximaNova-Light-b26d8534a06b8f48486cc142e2b27b74.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url(/assets/ProximaNova-Semibold-d1c38a33f2c7dc94441feebfc7c95b26.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/assets/ProximaNova-Regular-dbc2a57755327488c2b77177c03a9d00.otf) format('opentype');
}

@font-face {
  font-family: "Quicksand";
  src: url(/assets/Quicksand-Light-f6fbce4f079713e1579103b1e5f3a02b.otf) format('opentype');
}

/* line 5, ../../app/assets/stylesheets/admin.css.scss */
a {
  color: #4597ca;
}

/* line 9, ../../app/assets/stylesheets/admin.css.scss */
.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
}
/* line 16, ../../app/assets/stylesheets/admin.css.scss */
.side-bar .admin-logo {
  text-align: center;
  margin: 50px 0 50px;
}
/* line 19, ../../app/assets/stylesheets/admin.css.scss */
.side-bar .admin-logo img {
  height: 100px;
}
/* line 23, ../../app/assets/stylesheets/admin.css.scss */
.side-bar .item {
  color: white;
  display: block;
  padding: 20px 25px;
}
/* line 27, ../../app/assets/stylesheets/admin.css.scss */
.side-bar .item:visited {
  color: #eee;
}
/* line 30, ../../app/assets/stylesheets/admin.css.scss */
.side-bar .item:hover, .side-bar .item.active {
  background-color: #444;
}
/* line 36, ../../app/assets/stylesheets/admin.css.scss */
.side-bar .logout-admin {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

/* line 43, ../../app/assets/stylesheets/admin.css.scss */
.contenter {
  margin-left: 250px;
}
/* line 45, ../../app/assets/stylesheets/admin.css.scss */
.contenter h1:first-child {
  font-family: "ProximaNovaRegular";
  font-size: 40px;
  text-align: right;
  color: #555;
  text-shadow: 0 2px 0 white;
}
/* line 52, ../../app/assets/stylesheets/admin.css.scss */
.contenter .section {
  padding: 30px;
}
/* line 55, ../../app/assets/stylesheets/admin.css.scss */
.contenter table {
  width: 100%;
}
/* line 57, ../../app/assets/stylesheets/admin.css.scss */
.contenter table tbody, .contenter table tr {
  width: 100%;
}
/* line 60, ../../app/assets/stylesheets/admin.css.scss */
.contenter table tr {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 63, ../../app/assets/stylesheets/admin.css.scss */
.contenter table tr:first-child {
  border-bottom: 1px dashed #ccc;
}
/* line 65, ../../app/assets/stylesheets/admin.css.scss */
.contenter table tr:first-child:hover {
  background-color: transparent;
  cursor: auto;
}
/* line 70, ../../app/assets/stylesheets/admin.css.scss */
.contenter table tr:hover {
  background-color: #eee;
  cursor: pointer;
}
/* line 76, ../../app/assets/stylesheets/admin.css.scss */
.contenter table th {
  width: 100%/4;
  font-family: "ProximaNovaRegular";
  font-size: 18px;
}
/* line 80, ../../app/assets/stylesheets/admin.css.scss */
.contenter table th:last-child {
  width: 75px;
  text-align: center;
}
/* line 85, ../../app/assets/stylesheets/admin.css.scss */
.contenter table th, .contenter table td {
  padding: 15px;
}
/* line 89, ../../app/assets/stylesheets/admin.css.scss */
.contenter table td:last-child {
  text-align: center;
}
/* line 92, ../../app/assets/stylesheets/admin.css.scss */
.contenter table td a {
  font-size: 13px;
  padding: 5px 10px;
  font-family: "ProximaNovaLight";
}

/* line 101, ../../app/assets/stylesheets/admin.css.scss */
.mark-all {
  color: #4597ca;
  font-size: 15px;
  font-family: "ProximaNovaLight";
}

/* line 107, ../../app/assets/stylesheets/admin.css.scss */
.send-items {
  text-align: right;
  margin-top: 50px;
}
/* line 110, ../../app/assets/stylesheets/admin.css.scss */
.send-items a, .send-items button {
  padding: 10px 15px;
  font-size: 18px;
  margin-left: 15px;
}

/* line 117, ../../app/assets/stylesheets/admin.css.scss */
.bulk-form {
  display: none;
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url(/assets/ProximaNova-Light-b26d8534a06b8f48486cc142e2b27b74.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url(/assets/ProximaNova-Semibold-d1c38a33f2c7dc94441feebfc7c95b26.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/assets/ProximaNova-Regular-dbc2a57755327488c2b77177c03a9d00.otf) format('opentype');
}

@font-face {
  font-family: "Quicksand";
  src: url(/assets/Quicksand-Light-f6fbce4f079713e1579103b1e5f3a02b.otf) format('opentype');
}

/* line 12, ../../app/assets/stylesheets/screen.css.scss */
p {
  line-height: 1.6em;
  color: #777;
}

/* line 20, ../../app/assets/stylesheets/screen.css.scss */
.bold {
  font-weight: bold;
  color: #555;
}

/* line 25, ../../app/assets/stylesheets/screen.css.scss */
a {
  text-decoration: none;
}
/* line 27, ../../app/assets/stylesheets/screen.css.scss */
a:hover, a:visited {
  text-decoration: none;
}
/* line 30, ../../app/assets/stylesheets/screen.css.scss */
a:hover {
  cursor: pointer;
}

/* line 35, ../../app/assets/stylesheets/screen.css.scss */
.change-link {
  color: #4597ca;
}

/* line 39, ../../app/assets/stylesheets/screen.css.scss */
.danger-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 30px;
  color: #4597ca;
}

/* line 45, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"], button, .btn {
  outline: none;
  border: none;
  background-color: #333;
  font-family: "ProximaNovaSemiBold";
  color: #eee;
  border: 1px solid #777;
  margin: 0;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 55, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:hover, button:hover, .btn:hover {
  cursor: pointer;
  background-color: #222;
}
/* line 59, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:active, button:active, .btn:active {
  background-color: #222;
  -webkit-box-shadow: inset 0 2px 1px #555555;
  -moz-box-shadow: inset 0 2px 1px #555555;
  box-shadow: inset 0 2px 1px #555555;
}
/* line 63, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:disabled, button:disabled, .btn:disabled {
  color: #999;
  opacity: 0.5;
}
/* line 66, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:disabled:hover, button:disabled:hover, .btn:disabled:hover {
  cursor: default;
  color: #999;
}
/* line 71, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].cancel, button.cancel, .btn.cancel {
  background-color: #ff4c4f;
}
/* line 74, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].cancel:hover, input[type="submit"].cancel:active, button.cancel:hover, button.cancel:active, .btn.cancel:hover, .btn.cancel:active {
  background-color: #e54548;
}
/* line 77, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].change, button.change, .btn.change {
  background-color: #4597ca;
}
/* line 80, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].change:hover, input[type="submit"].change:active, button.change:hover, button.change:active, .btn.change:hover, .btn.change:active {
  background-color: #4888bc;
}

/* line 86, ../../app/assets/stylesheets/screen.css.scss */
span.italic {
  font-style: italic;
}

/* line 91, ../../app/assets/stylesheets/screen.css.scss */
input, select {
  font-family: "ProximaNovaLight";
  outline: none;
  font-size: 16px;
  color: #333;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  -o-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 98, ../../app/assets/stylesheets/screen.css.scss */
input[type='text'], input[type='email'], input[type='password'], select[type='text'], select[type='email'], select[type='password'] {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
}
/* line 102, ../../app/assets/stylesheets/screen.css.scss */
input[type='text']:focus, input[type='text']:hover, input[type='email']:focus, input[type='email']:hover, input[type='password']:focus, input[type='password']:hover, select[type='text']:focus, select[type='text']:hover, select[type='email']:focus, select[type='email']:hover, select[type='password']:focus, select[type='password']:hover {
  border: 1px solid #999;
}
/* line 105, ../../app/assets/stylesheets/screen.css.scss */
input[type='text']:hover, input[type='email']:hover, input[type='password']:hover, select[type='text']:hover, select[type='email']:hover, select[type='password']:hover {
  cursor: pointer;
}

/* line 111, ../../app/assets/stylesheets/screen.css.scss */
textarea {
  border: 1px solid #ccc;
}
/* line 113, ../../app/assets/stylesheets/screen.css.scss */
textarea:focus, textarea:hover {
  border: 1px solid #999;
}
/* line 116, ../../app/assets/stylesheets/screen.css.scss */
textarea:hover {
  cursor: pointer;
}

/* line 121, ../../app/assets/stylesheets/screen.css.scss */
select {
  padding: 9px;
  margin: 0;
  border: 1px solid #ccc;
}
/* line 125, ../../app/assets/stylesheets/screen.css.scss */
select:focus, select:hover {
  border: 1px solid #999;
}
/* line 128, ../../app/assets/stylesheets/screen.css.scss */
select:hover {
  cursor: pointer;
}

/* line 133, ../../app/assets/stylesheets/screen.css.scss */
h3 {
  font-size: 24px;
  font-family: "ProximaNovaSemiBold";
  color: #333;
}

/* line 139, ../../app/assets/stylesheets/screen.css.scss */
h4 {
  font-size: 24px;
  font-family: "ProximaNovaRegular";
  color: #333;
}

/* line 145, ../../app/assets/stylesheets/screen.css.scss */
.body-wrap {
  min-height: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

/* line 153, ../../app/assets/stylesheets/screen.css.scss */
html, body {
  height: 100%;
}

/* line 157, ../../app/assets/stylesheets/screen.css.scss */
body {
  font-family: "ProximaNovaLight";
  color: #777;
  background-color: #fcfcfc;
  background: url("grayvintage.png");
}

/* line 164, ../../app/assets/stylesheets/screen.css.scss */
a.light {
  color: #999;
  text-decoration: none;
}
/* line 167, ../../app/assets/stylesheets/screen.css.scss */
a.light:visited {
  color: #999;
}
/* line 170, ../../app/assets/stylesheets/screen.css.scss */
a.light:hover {
  text-decoration: underline;
}
/* line 173, ../../app/assets/stylesheets/screen.css.scss */
a.light.special-select {
  color: #4597ca !important;
  padding: 5px;
  line-height: 1em;
}
/* line 177, ../../app/assets/stylesheets/screen.css.scss */
a.light.special-select:visited {
  color: #4597ca !important;
}

/* line 183, ../../app/assets/stylesheets/screen.css.scss */
.header {
  border-bottom: 1px solid #aaa;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 47px;
}
/* line 190, ../../app/assets/stylesheets/screen.css.scss */
.header a {
  position: relative;
  top: 9px;
}
/* line 193, ../../app/assets/stylesheets/screen.css.scss */
.header a img {
  height: 30px;
  opacity: 0.6;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 198, ../../app/assets/stylesheets/screen.css.scss */
.header a img:hover {
  opacity: 1;
}
/* line 203, ../../app/assets/stylesheets/screen.css.scss */
.header a {
  font-size: 13px;
}
/* line 206, ../../app/assets/stylesheets/screen.css.scss */
.header .right-links {
  float: right;
  position: relative;
  top: 7px;
}
/* line 210, ../../app/assets/stylesheets/screen.css.scss */
.header .right-links a {
  margin-left: 30px;
}
/* line 214, ../../app/assets/stylesheets/screen.css.scss */
.header .backwash {
  position: absolute;
  opacity: 0.1;
  background-color: #bbb;
}
/* line 219, ../../app/assets/stylesheets/screen.css.scss */
.header .container {
  position: relative;
}
/* line 222, ../../app/assets/stylesheets/screen.css.scss */
.header .light {
  color: #777;
}
/* line 225, ../../app/assets/stylesheets/screen.css.scss */
.header.dark {
  border-bottom: 1px solid #aaa;
}
/* line 227, ../../app/assets/stylesheets/screen.css.scss */
.header.dark .backwash {
  position: absolute;
  opacity: 0.1;
  background-color: black;
}
/* line 232, ../../app/assets/stylesheets/screen.css.scss */
.header.dark .light {
  color: #aaa;
}

/* line 238, ../../app/assets/stylesheets/screen.css.scss */
.footer {
  background-color: #161616;
  height: 50px;
  position: relative;
  z-index: 999;
}
/* line 243, ../../app/assets/stylesheets/screen.css.scss */
.footer span {
  font-size: 25px;
  background-color: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 3px;
  width: 3px;
  margin: 0 3px 0 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  bottom: 1px;
}
/* line 254, ../../app/assets/stylesheets/screen.css.scss */
.footer .content {
  position: relative;
  top: 17px;
  text-align: center;
}
/* line 259, ../../app/assets/stylesheets/screen.css.scss */
.footer .light {
  color: #ccc;
}

/* line 264, ../../app/assets/stylesheets/screen.css.scss */
.landing {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 271, ../../app/assets/stylesheets/screen.css.scss */
.landing .landing-buttons {
  position: absolute;
  bottom: 100px;
  left: 50%;
  z-index: 999;
  margin-left: -40px;
}
/* line 277, ../../app/assets/stylesheets/screen.css.scss */
.landing .landing-buttons .selector {
  background-color: #4597ca;
  margin-right: 20px;
  width: 13px;
  height: 13px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
  border-radius: 99px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 286, ../../app/assets/stylesheets/screen.css.scss */
.landing .landing-buttons .selector:last-child {
  margin-right: 0;
}
/* line 289, ../../app/assets/stylesheets/screen.css.scss */
.landing .landing-buttons .selector:hover {
  cursor: pointer;
  background-color: #3a7da7;
}
/* line 293, ../../app/assets/stylesheets/screen.css.scss */
.landing .landing-buttons .selector.active {
  background-color: white;
}
/* line 295, ../../app/assets/stylesheets/screen.css.scss */
.landing .landing-buttons .selector.active:hover {
  cursor: default;
  background-color: white;
}
/* line 302, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 10;
}
/* line 315, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit.transition {
  z-index: 12;
}
/* line 318, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit.active {
  z-index: 11;
}
/* line 321, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit .content {
  text-align: left;
  position: relative;
  top: 50%;
}
/* line 325, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit .content h1 {
  font-family: "Quicksand";
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}
/* line 333, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit .content h1 .backwash {
  position: absolute;
  opacity: 0.35;
}
/* line 337, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit .content h1 span {
  position: relative;
}
/* line 341, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit .content a {
  padding: 10px 15px;
  font-size: 20px;
  background-color: #4597ca;
  color: white;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 348, ../../app/assets/stylesheets/screen.css.scss */
.landing .unit .content a:hover {
  background-color: #3a7da7;
  color: white;
}

/* line 357, ../../app/assets/stylesheets/screen.css.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 362, ../../app/assets/stylesheets/screen.css.scss */
.container {
  display: table;
}

/* line 366, ../../app/assets/stylesheets/screen.css.scss */
#payment-form, .user-form {
  float: right;
  margin: 100px 0 200px;
}
/* line 369, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3, .user-form h3 {
  margin: 40px 0 20px;
  width: 472px;
}
/* line 372, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .same-billing, .user-form h3 .same-billing {
  float: right;
}
/* line 374, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .same-billing label, .user-form h3 .same-billing label {
  margin-left: 5px;
  position: relative;
  top: -1px;
  color: #777;
  font-size: 16px;
  font-family: "ProximaNovaLight";
}
/* line 383, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .required-text, .user-form h3 .required-text {
  float: right;
  font-size: 16px;
  font-family: "ProximaNovaLight";
  color: #888;
}
/* line 388, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .required-text span, .user-form h3 .required-text span {
  font-size: 21px;
  font-family: "ProximaNovaSemiBold";
  color: #ff4c4f;
  position: relative;
  top: 5px;
  margin-right: 3px;
}
/* line 397, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 img, .user-form h3 img {
  position: relative;
  top: 1px;
  height: 19px;
}
/* line 403, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .payment-errors, .user-form .payment-errors {
  color: #ff4c4f;
  margin-bottom: 10px;
}
/* line 407, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .shipping-info, .user-form .shipping-info {
  display: none;
}
/* line 410, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .field-help, .user-form .field-help {
  margin-top: -3px;
  font-size: 13px;
  margin-bottom: 10px;
  color: #888;
}
/* line 417, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row input, .user-form .form-row input {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-bottom: 10px;
}
/* line 424, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.credit-date span, .user-form .form-row.credit-date span {
  margin: 0 5px;
}
/* line 427, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.credit-date select, .user-form .form-row.credit-date select {
  width: 224px;
}
/* line 433, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.city-info input:first-child, .user-form .form-row.city-info input:first-child {
  width: 226px;
}
/* line 436, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.city-info input select, .user-form .form-row.city-info input select {
  width: 72px;
}
/* line 439, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.city-info input:last-child, .user-form .form-row.city-info input:last-child {
  width: 122px;
}
/* line 445, ../../app/assets/stylesheets/screen.css.scss */
#payment-form select, .user-form select {
  margin-bottom: 10px;
}
/* line 447, ../../app/assets/stylesheets/screen.css.scss */
#payment-form select.country, .user-form select.country {
  display: block;
  width: 472px;
}
/* line 452, ../../app/assets/stylesheets/screen.css.scss */
#payment-form p, .user-form p {
  width: 450px;
  font-size: 14px;
  color: #888;
}
/* line 457, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input, .user-form input {
  display: block;
  width: 450px;
  margin-bottom: 10px;
}
/* line 461, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input.cvc, .user-form input.cvc {
  width: 100px;
}
/* line 464, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="text"], .user-form input[type="text"] {
  background-image: url("ast.png");
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 468, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="text"].not-required, .user-form input[type="text"].not-required {
  background-image: none;
}
/* line 472, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="checkbox"], #payment-form input[type="submit"], .user-form input[type="checkbox"], .user-form input[type="submit"] {
  display: inline;
  width: auto;
}
/* line 477, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="submit"], .user-form input[type="submit"] {
  margin-top: 20px;
  color: #eee;
  padding: 15px 25px;
  font-family: "ProximaNovaSemiBold";
  font-size: 21px;
}
/* line 484, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .terms, .user-form .terms {
  margin-top: 20px;
}

/* line 489, ../../app/assets/stylesheets/screen.css.scss */
.update-payment {
  display: none;
  margin-bottom: 50px !important;
}
/* line 492, ../../app/assets/stylesheets/screen.css.scss */
.update-payment input[type='submit'] {
  font-size: 15px !important;
  padding: 12px 20px !important;
}

/* line 498, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping {
  display: none;
}
/* line 500, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping input[type='submit'] {
  font-size: 15px;
  padding: 12px 20px;
}
/* line 504, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping h3 {
  margin-bottom: 0 !important;
}
/* line 507, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping .show {
  display: block;
}

/* line 512, ../../app/assets/stylesheets/screen.css.scss */
.hider {
  color: #4597ca;
  font-family: "ProximaNovaLight";
  font-size: 16px;
  margin-left: 15px;
  line-height: 24px;
  position: relative;
  bottom: 3px;
}
/* line 520, ../../app/assets/stylesheets/screen.css.scss */
.hider:hover {
  cursor: pointer;
}

/* line 525, ../../app/assets/stylesheets/screen.css.scss */
.canceller {
  color: #4597ca;
  font-family: "ProximaNovaLight";
  font-size: 15px;
  margin-left: 15px;
  line-height: 24px;
}
/* line 531, ../../app/assets/stylesheets/screen.css.scss */
.canceller:hover {
  cursor: pointer;
}

/* line 536, ../../app/assets/stylesheets/screen.css.scss */
.user-form {
  float: none;
  margin-top: 0;
}
/* line 539, ../../app/assets/stylesheets/screen.css.scss */
.user-form .same-billing {
  margin-top: 15px;
  float: none !important;
}

/* line 545, ../../app/assets/stylesheets/screen.css.scss */
.error-field {
  border: 1px solid #ff7151 !important;
}

/* line 549, ../../app/assets/stylesheets/screen.css.scss */
.left-panel {
  width: 250px;
  float: left;
  margin-top: 175px;
  padding-bottom: 100px;
}
/* line 554, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item {
  padding: 18px 30px;
  display: block;
  color: #777;
  border-right: 3px solid #f6f6f6;
  -webkit-transition-property: color, border;
  -moz-transition-property: color, border;
  -o-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 561, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item:visited {
  color: #777;
}
/* line 564, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item.active, .left-panel .item:hover {
  border-right: 3px solid #333;
  color: #111;
}
/* line 568, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item:hover {
  cursor: pointer;
}

/* line 574, ../../app/assets/stylesheets/screen.css.scss */
.update-wrap {
  display: none;
}

/* line 578, ../../app/assets/stylesheets/screen.css.scss */
.right-panel {
  padding-top: 175px;
  padding-bottom: 200px;
  padding-left: 50px;
  width: 660px;
  float: right;
}
/* line 584, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap {
  margin-top: 30px;
  display: table;
  padding: 20px;
  background-color: #f3f3f3;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 592, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap:before, .right-panel .sub-wrap:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
/* line 606, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  right: 10px;
  left: auto;
}
/* line 611, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .avatar, .right-panel .sub-wrap .content {
  float: left;
}
/* line 614, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .avatar {
  width: 185px;
  height: 1px;
}
/* line 617, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .avatar img {
  height: 175px;
}
/* line 621, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap p, .right-panel .sub-wrap h4 {
  text-shadow: 1px 1px white;
}
/* line 624, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content {
  width: 387px;
  padding-left: 30px;
}
/* line 627, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content p {
  font-size: 18px;
  line-height: 1em;
}
/* line 630, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content p.sub {
  font-size: 16px;
  color: #888;
}
/* line 635, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content .line-item {
  margin: 25px 0;
}
/* line 637, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content .line-item:last-child {
  margin-bottom: 0;
}
/* line 643, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .change-sub {
  margin-top: 20px;
}
/* line 645, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .change-sub a {
  padding: 15px 25px;
  display: inline-block;
  font-size: 18px;
}
/* line 651, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger {
  padding: 20px;
  background-color: #f1f1f1;
  display: none;
  margin-top: 30px;
}
/* line 656, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger h3 {
  margin-bottom: 15px;
}
/* line 659, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger p {
  width: 75%;
}
/* line 662, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger a {
  margin-top: 15px;
  padding: 10px 15px;
  display: inline-block;
  font-size: 15px;
}
/* line 670, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings #payment-form {
  margin-top: 0;
  float: none;
}
/* line 673, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings #payment-form .title {
  margin-top: 0;
}
/* line 676, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings #payment-form input[type='submit'] {
  padding: 15px 25px;
  display: inline-block;
  font-size: 18px;
}
/* line 682, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card {
  margin-bottom: 50px;
  font-family: "ProximaNovaSemiBold";
  color: #333;
}
/* line 686, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card h3 {
  margin-bottom: 30px;
}
/* line 689, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card img {
  position: relative;
}
/* line 692, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .card-wrap {
  -webkit-box-shadow: inset 0 0 10px #dddddd;
  -moz-box-shadow: inset 0 0 10px #dddddd;
  box-shadow: inset 0 0 10px #dddddd;
  background-color: #fafafa;
  padding: 15px 17px 10px 13px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 698, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .card-type {
  font-size: 22px;
  margin-left: 5px;
  position: relative;
  bottom: 15px;
}
/* line 704, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap {
  font-family: "ProximaNovaLight";
  color: #777;
}
/* line 707, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap h3 {
  margin-top: 50px;
}
/* line 709, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap h3:first-child {
  margin-top: 0;
}
/* line 713, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .billing {
  margin-bottom: 50px;
}
/* line 716, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .account-item {
  width: 65%;
  display: table;
  margin: 15px 0;
}
/* line 720, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .account-item div {
  float: left;
  width: 50%;
  color: #999;
}
/* line 724, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .account-item div:last-child {
  font-family: "ProximaNovaLight";
  font-weight: bold;
  color: #555;
}

/* line 736, ../../app/assets/stylesheets/screen.css.scss */
.invoices {
  margin-top: 30px;
}
/* line 738, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap {
  padding: 20px 25px;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  border-bottom: 1px solid #eee;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 747, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap:last-child {
  border-bottom: 0;
}
/* line 750, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap:hover {
  cursor: pointer;
  background-color: #f6f6f6;
  color: #333;
}
/* line 755, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .desc {
  float: left;
}
/* line 757, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .desc .state {
  color: #ff4c4f;
}
/* line 759, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .desc .state.shipped {
  color: #61c478;
}
/* line 764, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .price {
  float: right;
}

/* line 770, ../../app/assets/stylesheets/screen.css.scss */
.invoice-header {
  height: 5px;
  background-color: #333;
  position: relative;
}

/* line 776, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;
}
/* line 780, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .logo-image {
  text-align: center;
  margin-top: 80px;
}
/* line 783, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .logo-image img {
  width: 125px;
}
/* line 787, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap {
  margin-top: 80px;
}
/* line 789, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to {
  position: relative;
  line-height: 1.4em;
}
/* line 791, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to .bold {
  margin-bottom: 10px;
}
/* line 795, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to .invoice-number {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  color: #aaa;
}
/* line 801, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to .invoice-number .bold {
  margin-top: 5px;
}
/* line 806, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap {
  margin-top: 80px;
}
/* line 808, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap h3 {
  font-size: 16px;
  color: #aaa;
  border-bottom: 1px dashed #ccc;
  padding: 15px;
  margin-bottom: 5px;
}
/* line 811, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap h3 span {
  float: right;
}
/* line 818, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap .item {
  padding: 15px;
}
/* line 820, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap .item span {
  float: right;
}
/* line 824, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap .total {
  margin-top: 5px;
  padding: 15px;
  text-align: right;
  border-top: 1px dashed #ccc;
  font-size: 20px;
}
/* line 833, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container p {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #aaa;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
}

/* line 843, ../../app/assets/stylesheets/screen.css.scss */
.success-flash {
  margin: 0 auto;
  text-align: center;
  padding: 9px;
  background-color: #b5f1b3;
  margin-bottom: -46px;
  position: relative;
  top: 29px;
  width: 500px;
  border: 1px solid #aaa;
}

/* line 855, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form {
  margin-top: 30px;
}
/* line 857, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form label {
  margin: 15px 10px;
  display: block;
}
/* line 861, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form input {
  display: block;
  margin-bottom: 5px;
}
/* line 864, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form input[type='submit'] {
  margin-top: 30px;
  font-size: 15px;
  padding: 12px 20px;
}

/* line 872, ../../app/assets/stylesheets/screen.css.scss */
.subsection {
  margin-top: 50px;
}

/* line 877, ../../app/assets/stylesheets/screen.css.scss */
.options .option {
  display: table;
  width: 100%;
  padding: 35px 0;
  border-bottom: 1px dashed #ddd;
}
/* line 882, ../../app/assets/stylesheets/screen.css.scss */
.options .option:last-child {
  border-bottom: 0;
}
/* line 885, ../../app/assets/stylesheets/screen.css.scss */
.options .option p {
  float: left;
  width: 250px;
}
/* line 889, ../../app/assets/stylesheets/screen.css.scss */
.options .option a {
  margin-top: -2px;
  text-align: center;
  float: right;
  padding: 4px 0;
  width: 200px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.33em;
}

/* line 902, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer, .backwash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 910, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer {
  display: none;
}
/* line 912, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer .modal {
  position: relative;
  top: -100%;
  padding: 20px;
  height: 385px;
  width: 425px;
  margin: 0 auto;
  margin-top: -212px;
  background-color: white;
  z-index: 999;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 924, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer .modal.open {
  top: 50%;
}

/* line 931, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal h4 {
  margin-bottom: 10px;
}
/* line 934, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal .feedback-option {
  margin: 15px 0;
}
/* line 937, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal textarea {
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 10px;
  font-family: "ProximaNovaLight";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  line-height: 1.4em;
  color: #555;
}
/* line 949, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal input[type="submit"] {
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 25px;
}

/* line 956, ../../app/assets/stylesheets/screen.css.scss */
.backwash {
  background-color: black;
  opacity: 0.9;
}

/* line 961, ../../app/assets/stylesheets/screen.css.scss */
.chooser {
  position: relative;
  width: 1120px;
  padding-bottom: 75px;
  margin-top: 47px;
}
/* line 966, ../../app/assets/stylesheets/screen.css.scss */
.chooser .backwash {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
/* line 975, ../../app/assets/stylesheets/screen.css.scss */
.chooser .title {
  position: relative;
  text-align: center;
}
/* line 978, ../../app/assets/stylesheets/screen.css.scss */
.chooser .title h1 {
  font-family: "Quicksand";
  color: #eee;
  text-align: center;
  margin-top: 75px;
  font-size: 60px;
}
/* line 985, ../../app/assets/stylesheets/screen.css.scss */
.chooser .title p {
  text-align: center;
  margin-top: 5px;
  font-size: 25px;
  font-family: "ProximaNovaLight";
  color: #888;
}
/* line 992, ../../app/assets/stylesheets/screen.css.scss */
.chooser .title img {
  height: 30px;
  margin-top: 10px;
  opacity: 0.4;
}

/* line 1001, ../../app/assets/stylesheets/screen.css.scss */
.selections {
  display: table;
  margin-top: 50px;
}
/* line 1004, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection {
  float: left;
  width: 345px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 75px;
  position: relative;
  text-align: center;
}
/* line 1011, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection:first-child {
  margin-left: 165px;
}
/* line 1014, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .select-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 35px;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px 30px;
  font-size: 22px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #060606;
  border: 1px solid #777;
  color: #eee;
}
/* line 1025, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .select-btn:hover {
  background-color: #111;
}
/* line 1029, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar-wrap {
  position: relative;
  background-color: #e6e6e6;
  color: white;
  background-attachment: fixed;
  overflow: hidden;
  margin: 15px;
}
/* line 1036, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar-wrap .backwash {
  background-color: white;
}
/* line 1040, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar-wrap:before, .selections .selection .avatar-wrap:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 13px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 13px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 13px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
/* line 1054, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar-wrap:after {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  right: 10px;
  left: auto;
}
/* line 1059, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar-wrap .avatar-inner {
  margin: 10px;
  position: relative;
}
/* line 1063, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar-wrap .price {
  text-shadow: 0 1px 0 white;
  padding: 15px 0 10px;
  color: #4597ca;
  line-height: 1.4em;
  font-size: 20px;
  font-family: "ProximaNovaRegular";
  text-align: center;
  background-color: #ddd;
  border-top: 1px dashed #666;
}
/* line 1073, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar-wrap .price span {
  font-family: "ProximaNovaLight";
  color: #777;
  font-size: 16px;
}
/* line 1080, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection h3 {
  text-align: center;
  padding-top: 30px;
  font-family: "ProximaNovaSemiBold";
  text-shadow: 0 1px 0 white;
  font-size: 28px;
  color: #333;
}
/* line 1088, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar {
  text-align: center;
}
/* line 1090, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .avatar img {
  height: 200px;
  margin: 15px 0;
}
/* line 1095, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection h4 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  color: #555;
}
/* line 1102, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection p {
  font-size: 15px;
  padding-bottom: 17px;
  margin-bottom: 17px;
  color: #ddd;
}
/* line 1108, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection p:last-child {
  border-bottom: none;
}
/* line 1112, ../../app/assets/stylesheets/screen.css.scss */
.selections .selection .powers {
  padding: 30px 20px;
}

/* line 1118, ../../app/assets/stylesheets/screen.css.scss */
.static {
  margin-bottom: 100px;
}
/* line 1120, ../../app/assets/stylesheets/screen.css.scss */
.static h1 {
  font-family: "Quicksand";
  font-size: 80px;
  text-align: center;
  margin: 120px 0 75px;
  color: #333;
  text-shadow: 0 1px 0 white;
}
/* line 1129, ../../app/assets/stylesheets/screen.css.scss */
.static .content h2 {
  font-family: "ProximaNovaSemiBold";
  color: #333;
  font-size: 30px;
  margin: 40px 0 40px 0;
}

/* line 1138, ../../app/assets/stylesheets/screen.css.scss */
.faq {
  margin-bottom: 100px;
}
/* line 1139, ../../app/assets/stylesheets/screen.css.scss */
.faq h3 {
  font-family: "ProximaNovaRegular";
  color: #444;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

/* line 1150, ../../app/assets/stylesheets/screen.css.scss */
.legal .sections {
  display: table;
  width: 100%;
}
/* line 1153, ../../app/assets/stylesheets/screen.css.scss */
.legal .sections .item {
  float: left;
  width: 49.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
  margin-left: 0.5%;
  padding: 13px 0;
  text-align: center;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 1163, ../../app/assets/stylesheets/screen.css.scss */
.legal .sections .item:first-child {
  margin-left: 0;
}
/* line 1166, ../../app/assets/stylesheets/screen.css.scss */
.legal .sections .item.active {
  background-color: #222;
  color: #eee;
}
/* line 1169, ../../app/assets/stylesheets/screen.css.scss */
.legal .sections .item.active:hover {
  background-color: #222;
  color: #eee;
}
/* line 1174, ../../app/assets/stylesheets/screen.css.scss */
.legal .sections .item:hover {
  cursor: pointer;
  background-color: #ddd;
}
/* line 1180, ../../app/assets/stylesheets/screen.css.scss */
.legal .content {
  display: none;
}
/* line 1182, ../../app/assets/stylesheets/screen.css.scss */
.legal .content h3 {
  margin: 40px;
  color: #444;
}
/* line 1186, ../../app/assets/stylesheets/screen.css.scss */
.legal .content p {
  margin-bottom: 30px;
}
/* line 1190, ../../app/assets/stylesheets/screen.css.scss */
.legal .content table {
  width: 100%;
  margin-bottom: 10px;
}
/* line 1193, ../../app/assets/stylesheets/screen.css.scss */
.legal .content table tr th, .legal .content table tr td {
  border: 1px solid #aaa;
  padding: 20px;
  width: 25%;
}
/* line 1197, ../../app/assets/stylesheets/screen.css.scss */
.legal .content table tr th:last-child, .legal .content table tr td:last-child {
  font-weight: bold;
  color: #444;
}
/* line 1202, ../../app/assets/stylesheets/screen.css.scss */
.legal .content table tr:first-child th {
  font-weight: bold;
}

/* line 1211, ../../app/assets/stylesheets/screen.css.scss */
.registration {
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  margin-top: 150px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
/* line 1220, ../../app/assets/stylesheets/screen.css.scss */
.registration h2 {
  font-family: "ProximaNovaRegular";
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}
/* line 1226, ../../app/assets/stylesheets/screen.css.scss */
.registration input[type=text], .registration input[type=email], .registration input[type=password] {
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* line 1231, ../../app/assets/stylesheets/screen.css.scss */
.registration .devise-error {
  margin-bottom: 15px;
}
/* line 1234, ../../app/assets/stylesheets/screen.css.scss */
.registration input[type=submit] {
  padding: 10px 15px;
  margin-bottom: 20px;
}
/* line 1238, ../../app/assets/stylesheets/screen.css.scss */
.registration a {
  margin-top: 7px;
  font-size: 14px;
}

/* line 1244, ../../app/assets/stylesheets/screen.css.scss */
.devise-error {
  color: #ff4c4f;
  font-size: 15px;
}
/* line 1247, ../../app/assets/stylesheets/screen.css.scss */
.devise-error:empty {
  display: none;
}
/* line 1250, ../../app/assets/stylesheets/screen.css.scss */
.devise-error h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 1254, ../../app/assets/stylesheets/screen.css.scss */
.devise-error li {
  margin-top: 8px;
}
/* line 1256, ../../app/assets/stylesheets/screen.css.scss */
.devise-error li:first-child {
  margin-top: 0;
}

/* line 1263, ../../app/assets/stylesheets/screen.css.scss */
.free-meter {
  border: 1px solid #aaa;
  background-color: white;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
/* line 1270, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .free-content {
  float: left;
}
/* line 1272, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .free-content h3 {
  width: 170px;
  text-align: center;
  font-family: "Quicksand";
  margin-top: 10px;
  font-size: 20px;
}
/* line 1277, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .free-content h3 span {
  display: block;
  font-size: 100px;
  font-family: "ProximaNovaSemiBold";
  margin-bottom: 10px;
  color: #111;
}
/* line 1287, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .free-wrapper {
  width: 100%;
  float: right;
  width: 395px;
}
/* line 1292, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .small-safe {
  width: 75px;
  height: 28px;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}
/* line 1300, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .small-safe:nth-child(5n) {
  margin-right: 0;
}
/* line 1303, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .small-safe img {
  margin-top: 6px;
  height: 15px;
  opacity: 0.2;
}
/* line 1309, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .black-safe {
  background-color: #333;
}
/* line 1312, ../../app/assets/stylesheets/screen.css.scss */
.free-meter .grey-safe {
  background-color: #eee;
}

/* line 1317, ../../app/assets/stylesheets/screen.css.scss */
.referral-content-wrap {
  margin-top: 50px;
}
/* line 1319, ../../app/assets/stylesheets/screen.css.scss */
.referral-content-wrap p {
  margin-top: 30px;
}
/* line 1322, ../../app/assets/stylesheets/screen.css.scss */
.referral-content-wrap input {
  margin-top: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
  color: #555;
}

/* line 1331, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap {
  margin-top: 30px;
  display: table;
  width: 100%;
}
/* line 1335, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap a {
  display: block;
  margin-right: 3%;
  float: left;
}
/* line 1339, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap a:last-child {
  margin-right: 0;
}
/* line 1343, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap .share-box {
  padding: 15px;
  border: 1px solid #ddd;
  width: 206px;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  -o-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: 65px;
}
/* line 1353, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap .share-box:hover {
  background-color: white;
  border: 1px solid #aaa;
}
/* line 1357, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap .share-box img {
  height: 30px;
  margin-right: 10px;
}
/* line 1361, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap .share-box span {
  position: relative;
  bottom: 8px;
}
/* line 1365, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap .share-box.facebook-share img {
  margin-right: 3px;
}
/* line 1369, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap .share-box.mail-share img {
  height: 20px;
  line-height: 30px;
  position: relative;
  top: 5px;
}
/* line 1375, ../../app/assets/stylesheets/screen.css.scss */
.share-wrap .share-box.mail-share span {
  bottom: 0;
}
