/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url(/assets/ProximaNova-Light-b26d8534a06b8f48486cc142e2b27b74.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url(/assets/ProximaNova-Semibold-d1c38a33f2c7dc94441feebfc7c95b26.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/assets/ProximaNova-Regular-dbc2a57755327488c2b77177c03a9d00.otf) format('opentype');
}

/* line 31, ../../app/assets/stylesheets/screen.css.scss */
p {
  line-height: 1.6em;
  color: #777;
}

/* line 39, ../../app/assets/stylesheets/screen.css.scss */
.bold {
  font-weight: bold;
  color: #555;
}

/* line 44, ../../app/assets/stylesheets/screen.css.scss */
a {
  text-decoration: none;
}
/* line 46, ../../app/assets/stylesheets/screen.css.scss */
a:hover, a:visited {
  text-decoration: none;
}
/* line 49, ../../app/assets/stylesheets/screen.css.scss */
a:hover {
  cursor: pointer;
}

/* line 54, ../../app/assets/stylesheets/screen.css.scss */
.change-link {
  color: #4597ca;
}

/* line 58, ../../app/assets/stylesheets/screen.css.scss */
.danger-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 30px;
  color: #4597ca;
}

/* line 64, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"], button, .btn {
  border: none;
  background-color: #333;
  font-family: "ProximaNovaSemiBold";
  color: #eee;
  -webkit-box-shadow: 3px 3px 0 #888888;
  -moz-box-shadow: 3px 3px 0 #888888;
  box-shadow: 3px 3px 0 #888888;
  margin: 0;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 73, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:hover, button:hover, .btn:hover {
  cursor: pointer;
  background-color: #222;
}
/* line 77, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:active, button:active, .btn:active {
  position: relative;
  top: 1px;
  left: 1px;
  background-color: #222;
  -webkit-box-shadow: 2px 2px 0 #888888;
  -moz-box-shadow: 2px 2px 0 #888888;
  box-shadow: 2px 2px 0 #888888;
}
/* line 84, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:disabled, button:disabled, .btn:disabled {
  color: #999;
  opacity: 0.5;
}
/* line 87, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"]:disabled:hover, button:disabled:hover, .btn:disabled:hover {
  cursor: default;
  color: #999;
}
/* line 92, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].cancel, button.cancel, .btn.cancel {
  background-color: #ff4c4f;
}
/* line 95, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].cancel:hover, input[type="submit"].cancel:active, button.cancel:hover, button.cancel:active, .btn.cancel:hover, .btn.cancel:active {
  background-color: #e54548;
}
/* line 98, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].change, button.change, .btn.change {
  background-color: #4597ca;
}
/* line 101, ../../app/assets/stylesheets/screen.css.scss */
input[type="submit"].change:hover, input[type="submit"].change:active, button.change:hover, button.change:active, .btn.change:hover, .btn.change:active {
  background-color: #4888bc;
}

/* line 107, ../../app/assets/stylesheets/screen.css.scss */
span.italic {
  font-style: italic;
}

/* line 112, ../../app/assets/stylesheets/screen.css.scss */
input, select {
  font-family: "ProximaNovaLight";
  outline: none;
  font-size: 16px;
  color: #333;
}
/* line 117, ../../app/assets/stylesheets/screen.css.scss */
input[type='text'], input[type='email'], input[type='password'], select[type='text'], select[type='email'], select[type='password'] {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
}
/* line 121, ../../app/assets/stylesheets/screen.css.scss */
input[type='text']:focus, input[type='text']:hover, input[type='email']:focus, input[type='email']:hover, input[type='password']:focus, input[type='password']:hover, select[type='text']:focus, select[type='text']:hover, select[type='email']:focus, select[type='email']:hover, select[type='password']:focus, select[type='password']:hover {
  border: 1px solid #999;
}
/* line 124, ../../app/assets/stylesheets/screen.css.scss */
input[type='text']:hover, input[type='email']:hover, input[type='password']:hover, select[type='text']:hover, select[type='email']:hover, select[type='password']:hover {
  cursor: pointer;
}

/* line 130, ../../app/assets/stylesheets/screen.css.scss */
textarea {
  border: 1px solid #ccc;
}
/* line 132, ../../app/assets/stylesheets/screen.css.scss */
textarea:focus, textarea:hover {
  border: 1px solid #999;
}
/* line 135, ../../app/assets/stylesheets/screen.css.scss */
textarea:hover {
  cursor: pointer;
}

/* line 140, ../../app/assets/stylesheets/screen.css.scss */
select {
  padding: 9px;
  margin: 0;
  border: 1px solid #ccc;
}
/* line 144, ../../app/assets/stylesheets/screen.css.scss */
select:focus, select:hover {
  border: 1px solid #999;
}
/* line 147, ../../app/assets/stylesheets/screen.css.scss */
select:hover {
  cursor: pointer;
}

/* line 152, ../../app/assets/stylesheets/screen.css.scss */
h3 {
  font-size: 24px;
  font-family: "ProximaNovaSemiBold";
  color: #333;
}

/* line 158, ../../app/assets/stylesheets/screen.css.scss */
h4 {
  font-size: 24px;
  font-family: "ProximaNovaRegular";
  color: #333;
}

/* line 164, ../../app/assets/stylesheets/screen.css.scss */
body {
  font-family: "ProximaNovaLight";
  color: #777;
  background-color: #fcfcfc;
}

/* line 170, ../../app/assets/stylesheets/screen.css.scss */
a.light {
  color: #aaa;
  text-decoration: none;
}
/* line 173, ../../app/assets/stylesheets/screen.css.scss */
a.light:visited {
  color: #aaa;
}
/* line 176, ../../app/assets/stylesheets/screen.css.scss */
a.light:hover {
  color: white;
}

/* line 181, ../../app/assets/stylesheets/screen.css.scss */
.header {
  padding: 15px 0;
  background-color: #222;
}
/* line 184, ../../app/assets/stylesheets/screen.css.scss */
.header a {
  font-size: 13px;
}
/* line 187, ../../app/assets/stylesheets/screen.css.scss */
.header .right-links {
  float: right;
}
/* line 189, ../../app/assets/stylesheets/screen.css.scss */
.header .right-links a {
  margin-left: 30px;
}

/* line 195, ../../app/assets/stylesheets/screen.css.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 200, ../../app/assets/stylesheets/screen.css.scss */
.container {
  display: table;
}

/* line 204, ../../app/assets/stylesheets/screen.css.scss */
#payment-form, .user-form {
  float: right;
  margin: 100px 0 200px;
}
/* line 207, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3, .user-form h3 {
  margin: 40px 0 20px;
  width: 472px;
}
/* line 210, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .same-billing, .user-form h3 .same-billing {
  float: right;
}
/* line 212, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .same-billing label, .user-form h3 .same-billing label {
  margin-left: 5px;
  position: relative;
  top: -1px;
  color: #777;
  font-size: 16px;
  font-family: "ProximaNovaLight";
}
/* line 221, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .required-text, .user-form h3 .required-text {
  float: right;
  font-size: 16px;
  font-family: "ProximaNovaLight";
  color: #888;
}
/* line 226, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 .required-text span, .user-form h3 .required-text span {
  font-size: 21px;
  font-family: "ProximaNovaSemiBold";
  color: #ff4c4f;
  position: relative;
  top: 5px;
  margin-right: 3px;
}
/* line 235, ../../app/assets/stylesheets/screen.css.scss */
#payment-form h3 img, .user-form h3 img {
  position: relative;
  top: 1px;
  height: 19px;
}
/* line 241, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .payment-errors, .user-form .payment-errors {
  color: #ff4c4f;
  margin-bottom: 10px;
}
/* line 245, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .shipping-info, .user-form .shipping-info {
  display: none;
}
/* line 248, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .field-help, .user-form .field-help {
  margin-top: -3px;
  font-size: 13px;
  margin-bottom: 10px;
  color: #888;
}
/* line 255, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row input, .user-form .form-row input {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-bottom: 10px;
}
/* line 262, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.credit-date span, .user-form .form-row.credit-date span {
  margin: 0 5px;
}
/* line 265, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.credit-date select, .user-form .form-row.credit-date select {
  width: 224px;
}
/* line 271, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.city-info input:first-child, .user-form .form-row.city-info input:first-child {
  width: 226px;
}
/* line 274, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.city-info input select, .user-form .form-row.city-info input select {
  width: 72px;
}
/* line 277, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .form-row.city-info input:last-child, .user-form .form-row.city-info input:last-child {
  width: 122px;
}
/* line 283, ../../app/assets/stylesheets/screen.css.scss */
#payment-form select, .user-form select {
  margin-bottom: 10px;
}
/* line 285, ../../app/assets/stylesheets/screen.css.scss */
#payment-form select.country, .user-form select.country {
  display: block;
  width: 472px;
}
/* line 290, ../../app/assets/stylesheets/screen.css.scss */
#payment-form p, .user-form p {
  width: 450px;
  font-size: 14px;
  color: #888;
}
/* line 295, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input, .user-form input {
  display: block;
  width: 450px;
  margin-bottom: 10px;
}
/* line 299, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input.cvc, .user-form input.cvc {
  width: 100px;
}
/* line 302, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="text"], .user-form input[type="text"] {
  background-image: url("ast.png");
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 306, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="text"].not-required, .user-form input[type="text"].not-required {
  background-image: none;
}
/* line 310, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="checkbox"], #payment-form input[type="submit"], .user-form input[type="checkbox"], .user-form input[type="submit"] {
  display: inline;
  width: auto;
}
/* line 315, ../../app/assets/stylesheets/screen.css.scss */
#payment-form input[type="submit"], .user-form input[type="submit"] {
  margin-top: 20px;
  color: #eee;
  padding: 15px 25px;
  font-family: "ProximaNovaSemiBold";
  font-size: 21px;
}
/* line 322, ../../app/assets/stylesheets/screen.css.scss */
#payment-form .terms, .user-form .terms {
  margin-top: 20px;
}

/* line 327, ../../app/assets/stylesheets/screen.css.scss */
.update-payment {
  display: none;
  margin-bottom: 50px !important;
}
/* line 330, ../../app/assets/stylesheets/screen.css.scss */
.update-payment input[type='submit'] {
  font-size: 15px !important;
  padding: 12px 20px !important;
}

/* line 336, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping {
  display: none;
}
/* line 338, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping input[type='submit'] {
  font-size: 15px;
  padding: 12px 20px;
}
/* line 342, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping h3 {
  margin-bottom: 0 !important;
}
/* line 345, ../../app/assets/stylesheets/screen.css.scss */
.update-shipping .show {
  display: block;
}

/* line 350, ../../app/assets/stylesheets/screen.css.scss */
.hider {
  color: #4597ca;
  font-family: "ProximaNovaLight";
  font-size: 16px;
  margin-left: 15px;
  line-height: 24px;
  position: relative;
  bottom: 3px;
}
/* line 358, ../../app/assets/stylesheets/screen.css.scss */
.hider:hover {
  cursor: pointer;
}

/* line 363, ../../app/assets/stylesheets/screen.css.scss */
.canceller {
  color: #4597ca;
  font-family: "ProximaNovaLight";
  font-size: 15px;
  margin-left: 15px;
  line-height: 24px;
}
/* line 369, ../../app/assets/stylesheets/screen.css.scss */
.canceller:hover {
  cursor: pointer;
}

/* line 374, ../../app/assets/stylesheets/screen.css.scss */
.user-form {
  float: none;
  margin-top: 0;
}
/* line 377, ../../app/assets/stylesheets/screen.css.scss */
.user-form .same-billing {
  margin-top: 15px;
  float: none !important;
}

/* line 383, ../../app/assets/stylesheets/screen.css.scss */
.error-field {
  border: 1px solid #ff7151 !important;
}

/* line 387, ../../app/assets/stylesheets/screen.css.scss */
.left-panel {
  width: 250px;
  float: left;
  margin-top: 175px;
  padding-bottom: 100px;
}
/* line 392, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item {
  padding: 18px 30px;
  display: block;
  color: #777;
  border-right: 3px solid #f6f6f6;
  -webkit-transition-property: color, border;
  -moz-transition-property: color, border;
  -o-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 399, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item:visited {
  color: #777;
}
/* line 402, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item.active, .left-panel .item:hover {
  border-right: 3px solid #333;
  color: #111;
}
/* line 406, ../../app/assets/stylesheets/screen.css.scss */
.left-panel .item:hover {
  cursor: pointer;
}

/* line 412, ../../app/assets/stylesheets/screen.css.scss */
.update-wrap {
  display: none;
}

/* line 416, ../../app/assets/stylesheets/screen.css.scss */
.right-panel {
  padding-top: 175px;
  padding-bottom: 200px;
  padding-left: 50px;
  width: 660px;
  float: right;
}
/* line 422, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap {
  margin-top: 30px;
  display: table;
  padding: 20px;
  background-color: #f3f3f3;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 430, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap:before, .right-panel .sub-wrap:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
/* line 444, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  right: 10px;
  left: auto;
}
/* line 449, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .avatar, .right-panel .sub-wrap .content {
  float: left;
}
/* line 452, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .avatar {
  width: 185px;
  height: 1px;
}
/* line 455, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .avatar img {
  height: 175px;
}
/* line 459, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap p, .right-panel .sub-wrap h4 {
  text-shadow: 1px 1px white;
}
/* line 462, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content {
  width: 387px;
  padding-left: 30px;
}
/* line 465, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content p {
  font-size: 18px;
  line-height: 1em;
}
/* line 468, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content p.sub {
  font-size: 16px;
  color: #888;
}
/* line 473, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content .line-item {
  margin: 25px 0;
}
/* line 475, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .sub-wrap .content .line-item:last-child {
  margin-bottom: 0;
}
/* line 481, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .change-sub {
  margin-top: 20px;
}
/* line 483, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .change-sub a {
  padding: 15px 25px;
  display: inline-block;
  font-size: 18px;
}
/* line 489, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger {
  padding: 20px;
  background-color: #f1f1f1;
  display: none;
  margin-top: 30px;
}
/* line 494, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger h3 {
  margin-bottom: 15px;
}
/* line 497, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger p {
  width: 75%;
}
/* line 500, ../../app/assets/stylesheets/screen.css.scss */
.right-panel .danger a {
  margin-top: 15px;
  padding: 10px 15px;
  display: inline-block;
  font-size: 15px;
}
/* line 508, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings #payment-form {
  margin-top: 0;
  float: none;
}
/* line 511, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings #payment-form .title {
  margin-top: 0;
}
/* line 514, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings #payment-form input[type='submit'] {
  padding: 15px 25px;
  display: inline-block;
  font-size: 18px;
}
/* line 520, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card {
  margin-bottom: 50px;
  font-family: "ProximaNovaSemiBold";
  color: #333;
}
/* line 524, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card h3 {
  margin-bottom: 30px;
}
/* line 527, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card img {
  position: relative;
}
/* line 530, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .card-wrap {
  -webkit-box-shadow: inset 0 0 10px #dddddd;
  -moz-box-shadow: inset 0 0 10px #dddddd;
  box-shadow: inset 0 0 10px #dddddd;
  background-color: #fafafa;
  padding: 15px 17px 10px 13px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 536, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .card-type {
  font-size: 22px;
  margin-left: 5px;
  position: relative;
  bottom: 15px;
}
/* line 542, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap {
  font-family: "ProximaNovaLight";
  color: #777;
}
/* line 545, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap h3 {
  margin-top: 50px;
}
/* line 547, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap h3:first-child {
  margin-top: 0;
}
/* line 551, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .billing {
  margin-bottom: 50px;
}
/* line 554, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .account-item {
  width: 65%;
  display: table;
  margin: 15px 0;
}
/* line 558, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .account-item div {
  float: left;
  width: 50%;
  color: #999;
}
/* line 562, ../../app/assets/stylesheets/screen.css.scss */
.right-panel.address-settings .current-card .current-wrap .account-item div:last-child {
  font-family: "ProximaNovaLight";
  font-weight: bold;
  color: #555;
}

/* line 574, ../../app/assets/stylesheets/screen.css.scss */
.invoices {
  margin-top: 30px;
}
/* line 576, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap {
  padding: 20px 25px;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  border-bottom: 1px solid #eee;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 585, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap:last-child {
  border-bottom: 0;
}
/* line 588, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap:hover {
  cursor: pointer;
  background-color: #f6f6f6;
  color: #333;
}
/* line 593, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .desc {
  float: left;
}
/* line 595, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .desc .state {
  color: #ff4c4f;
}
/* line 597, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .desc .state.shipped {
  color: #61c478;
}
/* line 602, ../../app/assets/stylesheets/screen.css.scss */
.invoices .invoice-wrap .price {
  float: right;
}

/* line 608, ../../app/assets/stylesheets/screen.css.scss */
.invoice-header {
  height: 5px;
  background-color: #333;
}

/* line 613, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container {
  width: 800px;
  margin: 0 auto;
}
/* line 616, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .logo-image {
  text-align: center;
  margin-top: 80px;
}
/* line 619, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .logo-image img {
  width: 125px;
}
/* line 623, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap {
  margin-top: 80px;
}
/* line 625, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to {
  position: relative;
  line-height: 1.4em;
}
/* line 627, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to .bold {
  margin-bottom: 10px;
}
/* line 631, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to .invoice-number {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  color: #aaa;
}
/* line 637, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .billed-to .invoice-number .bold {
  margin-top: 5px;
}
/* line 642, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap {
  margin-top: 80px;
}
/* line 644, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap h3 {
  font-size: 16px;
  color: #aaa;
  border-bottom: 1px dashed #ccc;
  padding: 15px;
  margin-bottom: 5px;
}
/* line 647, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap h3 span {
  float: right;
}
/* line 654, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap .item {
  padding: 15px;
}
/* line 656, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap .item span {
  float: right;
}
/* line 660, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container .content-wrap .amount-wrap .total {
  margin-top: 5px;
  padding: 15px;
  text-align: right;
  border-top: 1px dashed #ccc;
  font-size: 20px;
}
/* line 669, ../../app/assets/stylesheets/screen.css.scss */
.invoice-container p {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #aaa;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
}

/* line 679, ../../app/assets/stylesheets/screen.css.scss */
.success-flash {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background-color: #b5f1b3;
  margin-bottom: -46px;
}

/* line 687, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form {
  margin-top: 30px;
}
/* line 689, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form label {
  margin: 15px 10px;
  display: block;
}
/* line 693, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form input {
  display: block;
  margin-bottom: 5px;
}
/* line 696, ../../app/assets/stylesheets/screen.css.scss */
.edit-user-form input[type='submit'] {
  margin-top: 30px;
  font-size: 15px;
  padding: 12px 20px;
}

/* line 704, ../../app/assets/stylesheets/screen.css.scss */
.subsection {
  margin-top: 50px;
}

/* line 709, ../../app/assets/stylesheets/screen.css.scss */
.options .option {
  display: table;
  width: 100%;
  padding: 35px 0;
  border-bottom: 1px dashed #ddd;
}
/* line 714, ../../app/assets/stylesheets/screen.css.scss */
.options .option:last-child {
  border-bottom: 0;
}
/* line 717, ../../app/assets/stylesheets/screen.css.scss */
.options .option p {
  float: left;
  width: 250px;
}
/* line 721, ../../app/assets/stylesheets/screen.css.scss */
.options .option a {
  margin-top: -2px;
  text-align: center;
  float: right;
  padding: 4px 0;
  width: 200px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.33em;
}

/* line 734, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer, .backwash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 742, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer {
  display: none;
}
/* line 744, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer .modal {
  position: relative;
  top: -100%;
  padding: 20px;
  height: 385px;
  width: 425px;
  margin: 0 auto;
  margin-top: -212px;
  background-color: white;
  z-index: 999;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 756, ../../app/assets/stylesheets/screen.css.scss */
.modal-outer .modal.open {
  top: 50%;
}

/* line 763, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal h4 {
  margin-bottom: 10px;
}
/* line 766, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal .feedback-option {
  margin: 15px 0;
}
/* line 769, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal textarea {
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 10px;
  font-family: "ProximaNovaLight";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  line-height: 1.4em;
  color: #555;
}
/* line 781, ../../app/assets/stylesheets/screen.css.scss */
.cancel-modal input[type="submit"] {
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 25px;
}

/* line 788, ../../app/assets/stylesheets/screen.css.scss */
.backwash {
  background-color: black;
  opacity: 0.9;
}
