<div class="left-panel">
  <a class="item active">
    Current Subscription
  </a>
  <a class="item">
    Subscription History
  </a>
  <a class="item">
    Address
  </a>
  <a class="item">
    Payment Settings
  </a>
</div>