<div class="container">
  <%= render "account_side", :current => "current" %>
  <div class="right-panel">
    <h3>
      Current Subscription
    </h3>
    <div class="sub-wrap">
      <div class="avatar">

      </div>
      <div class="content">
        <h4>The Journeyman</h4>
        <p class="sub">6 pack high quality condoms</p>
        <p class="line-item">
          Next ship date: <span class="bold">Nov 23, 2013</span>
        </p>
        <p class="line-item">
          Next bill date: <span class="bold">Nov 23, 2013</span>
        </p>
        <p class="line-item">
          Amount: <span class="bold">$15.66CAD</span>
        </p>
      </div>
    </div>

    <div class="danger">
      <h3>Danger Zone!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel dictum quam. Donec tincidunt lacus vitae elementum varius. </p>
      <a class="btn cancel">Cancel Subscription</a>
    </div>
  </div>
</div>

