<% content_for :meta do %>
  <title>FAQ</title>
<% end %>

<div class="container static">
  <h1>
    FAQ
  </h1>

  <div class="content faq">
    <h2>
      Becoming a Member
    </h2>

    <h3>
      What is your cancellation policy?
    </h3>
    <p>
      You can cancel your subscription anytime by logging into your account and  “Cancel Subscription”.
    </p>

    <h3>
      Where are my membership settings?
    </h3>
    <p>
      Once you sign up, you will have immediate access to your account settings. You can check your current subscription, upgrade/downgrade your subscription, change your delivery preference, view payment/shipment history, update your shipping/billing address and credit card information, and change your email and password.
    </p>

    <h3>
      Is there a fee to join Safe?
    </h3>
    <p>
      Nope! You just pay for your condoms.
    </p>

    <h3>
      What payment method do you use?
    </h3>
    <p>
      We use Stripe as our payment method. It’s super easy to pay using Stripe. All you need is your credit card and you’re good to go!
    </p>

    <h3>
      How do I check the status of my order?
    </h3>
    <p>
      Simply login and you will see the status of your order.
    </p>

    <h2>
      Product
    </h2>

    <h3>
      How many condoms will I receive per month?
    </h3>
    <p>
      You will receive 9 condoms per box. For the basic plan, you will receive 8 Durex Sensi-Thin condoms and 1 Okamoto’s 0.03 condom. For the premium plan, you will receive 9 Okamoto’s 0.03 condoms
    </p>

    <h3>
      What are Okamoto’s 0.03 condoms?
    </h3>
    <p>
      They are world’s thinnest condoms made in Japan. They are enhanced with the new "easy rolling" technology for easy usage. It’s like nothing you’ve ever experienced before!
    </p>

    <h3>
      Are these condoms lubricated?
    </h3>
    <p>
      Yes, they are lubricated.
    </p>

    <h2>
      Shipping
    </h2>

    <h3>
      How much does shipping cost?
    </h3>
    <p>
      Shipping and handling are included in your subscription :)
    </p>

    <h3>
      When will you ship my order?
    </h3>
    <p>
      For your first order, we will ship it within one business day. For every subsequent order, we will ship it on the 15th of each month. You will receive your shipment typically 3-5 business days after we ship.
    </p>

    <h3>
      Do you ship outside of Canada?
    </h3>
    <p>
      Safe is a Vancouver-based startup. We are hoping to serve our U.S. customers soon!
    </p>
  </div>
</div>