<div class="container legal static">
  <h1>
    LEGAL
  </h1>

  <div class="sections">
    <div class="item active" data-target="terms">TERMS</div>
    <div class="item" data-target="privacy">PRIVACY</div>
  </div>

  <div class="content terms active">
    <h2>
      Safe Terms of Use
    </h2>

    <p>
      Welcome to Safe! Safe is an elegant, discreet, minimalistic black box that contains 9 condoms. We will mail Safe to your doorsteps every month so you will never have to worry about picking up condoms at your local drugstore.
    </p>

    <p>
      The website and its services at <a href="http://www.safetheday.com">www.safetheday.com</a> (“website” or “site”) are provided by <a href="http://www.emberyl.com">Emberyl Creative Inc</a> (“Emberyl”, or “Safe” or “We” or “Company”). Before using services (“Service”) provided by  Emberyl Creative Inc , please read these terms of use (“Agreement” or “Terms of Use”) carefully. By using the website, you (“users” or “you”) agree to these terms of use, and the privacy policy.
    </p>

    <h3>
      Modification of Terms
    </h3>

    <p>
      Safe reserves the right to modify or replace any Terms of Use at any time without notice. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the services provided by safe following implementation of any changes or policies,to the Terms of Use constitutes acceptance of such change or privacy. If in any case you do not agree to any revised version of the Terms of Use, please do not use this site.
    </p>

    <h3>
      Registration
    </h3>

    <p>
      You do not have to register to browse through the Site and view its Content (“Content”, or “Projects”). However, to use Safe’s services, you are required to register with your e-mail (“Username”), password, shipping and billing information. You are required to provide accurate, complete and updated registration information. Failure to do so shall constitute a breach of the Terms of Use, which may result in immediate termination of your Safe account. With the intent to impersonate another person, your Safe account will also be terminated immediately. Safe reserves the right to reject, terminate, remove user accounts in our sole discretion without notices. You are solely responsible for your password, and account activities. You should never use another person’s account without the person’s permission. You are responsible to notify the Company at <a href="mailto:hello@safetheday.com">hello@safetheday.com</a> immediately if you suspect unauthorized use of your account or other security breach issues.
    </p>

    <h3>
      Payment
    </h3>

    <p>
      Safe is integrated with <a href="http://www.stripe.com">Stripe</a>, the easiest way to accept credit and debit card payments online, to facilitate the payment processing. By agreeing to Safe’s Terms of Service, you have also agreed to Stripe’s Terms of Service which can be found here: <a href="https://stripe.com/ca/terms">https://stripe.com/ca/terms</a>. Safe is not responsible for any damage or loss incurred as a result of transactions facilitated by Stripe. In any event where a transaction has failed, please contact Stripe to resolve it.  In no event shall Safe become involved with any disputes between you, your members or other users. In the event of dispute, you release Emberyl Creative Inc,  its officers, employees, shareholders, directors, agents, independent contractors, interns, and successors in rights from claims, damages and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and our service. Safe makes no guarantees regarding the performance or fairness of Stripe. Safe is not responsible for issuing refunds for funds that have been collected by you. Safe reserves the right to cancel, interrupt or suspend your account at any time for any reason.
    </p>

    <h3>
      Membership Fees
    </h3>

    <p>
      Your subscription fee is processed by Stripe. You are responsible for paying all the fees, and applicable taxes associated with Stripe and the Province you are in. To find out what the sales tax is for your province (wherever the product is being shipped to), please refer to the table below.
    </p>

    <table>
      <tr>
        <th>Province</th>
        <th>Type</th>
        <th>Provincial Tax Rate</th>
        <th>Total Tax Rate</th>
      </tr>
      <tr>
        <td>Alberta</td>
        <td>GST</td>
        <td>0</td>
        <td>5</td>
      </tr>
      <tr>
        <td>British Columbia</td>
        <td>GST+PST</td>
        <td>7</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Manitoba</td>
        <td>GST</td>
        <td>7</td>
        <td>5 (GST Only)</td>
      </tr>
      <tr>
        <td>New Brunswick</td>
        <td>HST</td>
        <td>8</td>
        <td>13</td>
      </tr>
      <tr>
        <td>Newfoundland and Labrador</td>
        <td>HST</td>
        <td>8</td>
        <td>13</td>
      </tr>
      <tr>
        <td>Northwest Territories</td>
        <td>GST</td>
        <td>0</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nova Scotia</td>
        <td>HST</td>
        <td>10</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Nunavut</td>
        <td>GST</td>
        <td>0</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Ontario</td>
        <td>HST</td>
        <td>8</td>
        <td>13</td>
      </tr>
      <tr>
        <td>Prince Edward Island</td>
        <td>HST</td>
        <td>9</td>
        <td>14</td>
      </tr>
      <tr>
        <td>Quebec</td>
        <td>GST+QST</td>
        <td>9.975</td>
        <td>14.975</td>
      </tr>
      <tr>
        <td>Saskatchewan</td>
        <td>GST+PST</td>
        <td>5</td>
        <td>5 (GST Only)</td>
      </tr>
      <tr>
        <td>Yukon</td>
        <td>GST</td>
        <td>0</td>
        <td>5</td>
      </tr>
    </table>

    <p>
      *At this point, Safe does not provide services in Quebec. We apologize for any inconvenience.
    </p>

    <h3>
      Refunds
    </h3>

    <p>
      All sales are final. If you are not satisfied with your purchase because there is a defect, we are more than happy to ship you a new box.
    </p>

    <h3>
      Liabilities
    </h3>

    <p>
      Safe is not liable for defects in the condoms that we resell. We re-sell Durex’s sensi-thin condoms and Okamoto 0.03. In the event of incurring damage or loss by using a defective product, you release Emberyl Creative Inc,  its officers, employees, shareholders, directors, agents, independent contractors, interns, and successors in rights from claims, damages and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and our service.
    </p>

    <h3>
      Copyright and Licenses
    </h3>

    <p>
      The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are Safe, its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. You agree to grant to Safe a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums and newsgroups) or by e-mail to Safe by all means and in any media now known or hereafter developed. You also grant to Safe the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against Safe for any alleged or actual infringement or misappropriation of any proprietary right in your communications to Safe.
    </p>

    <h3>
      Termination
    </h3>

    <p>
      Safe may terminate your access to our services immediately at any time with or without reasons, cause, or notice. This may result in forfeiture and destruction of all information associated with your membership. If you wish to terminate your account, please send a request to <a href="mailto:info@safetheday.com">info@safetheday.com</a>. All provisions of the Terms of Use which by their nature shall survive termination, including, but not limited to, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
    </p>

    <h3>
      Miscellaneous
    </h3>

    <p>
      This Agreement shall all be governed and construed in accordance with the laws of Canada applicable to agreements made and to be performed in Canada. You agree that any legal action or proceeding between Safe and you for any purpose concerning this Agreement or the parties' obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in British Columbia . Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. Safe’s failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. Safe may assign its rights and duties under this Agreement to any party at any time without notice to you.
    </p>
  </div>

  <div class="content privacy">
    <h2>
      Privacy Policy
    </h2>

    <h3>
      Safe respects your privacy
    </h3>

    <p>
      Any personal information you provide to us including and similar to your name, address, telephone number and e-mail address will not be released, sold, or rented to any entities or individuals outside of Safe.
    </p>

    <h3>
      Credit Card Details
    </h3>

    <p>
      <a href="http://www.stripe.com">Stripe</a> processes all the transactions on Safe and the transaction is encrypted using SSL technology. Safe does not hold any credit card information. Data handled by Stripe is subject to their <a href="https://www.google.com/url?q=https%3A%2F%2Fstripe.com%2Fca%2Fterms&sa=D&sntz=1&usg=AFQjCNEm7R9aGdpPdBzHatx4ssNTVDWd8g">terms of use</a> and <a href="https://stripe.com/ca/privacy">privacy policy</a>.
    </p>

    <h3>
      External Sites
    </h3>

    <p>
      Safe is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.
    </p>

    <h3>
      Information Collection
    </h3>

    <p>
      Traffic Data: Safe collects traffic data when you visit our site and this includes your ip addresses, domain servers, web browsers used to access the site, and referring/exit pages. This is anonymous information and the sole purpose of us collecting this information is to improve the business and the user experience.
    </p>

    <p>
      Personal Information: In order for you to use Safe, you have to register with the Site. We will ask for your e-mail, name, company, job title, phone number and address.
    </p>

    <h3>
      Cookies
    </h3>

    <p>
      A "cookie" is a small data text file that is placed in your browser and allows Safe to recognize you each time you visit this site(customisation etc). Cookies themselves do not contain any personal information, and Safe does not use cookies to collect personal information. Cookies may also be used by 3rd party content providers such as newsfeeds.
    </p>

    <h3>
      Remember The Risks Whenever You Use The Internet
    </h3>

    <p>
      While we do our best to protect your personal information, we cannot guarantee the security of any information that you transmit to Safe and you are solely responsible for maintaining the secrecy of any passwords or other account information. In addition, other Internet sites or services that may be accessible through Safe have separate data and privacy practices independent of us, and therefore we disclaim any responsibility or liability for their policies or actions. Please contact those vendors and others directly if you have any questions about their privacy policies.
    </p>

    <p>
      For any other information, please contact us at <a href="mailto:info@safetheday.com">info@safetheday.com</a>
    </p>
  </div>
</div>

<script type="text/javascript">
  $('.content.active').show();
  $('.item').on('click', function() {
    $this = $(this);

    if (!$this.hasClass('active')) {
      $('.content.active').fadeOut(200);
      $('.'+$this.attr('data-target')).fadeIn(200);

      $('.item.active').removeClass('active');
      $this.addClass('active');

      $('.content.active').removeClass('active');
      $('.'+$this.attr('data-target')).addClass('active');
    }
  });
</script>

<style>
</style>