<div class="hero">
  <div class="words">
    <h1>SAFE</h1>
    <p>the only wingman you will ever need</p>
  </div>
</div>

<div class="section quote">
  <h1>
    <div class="liner"></div>
    DISCOVER THE ULTIMATE PLEASURE WHEN <br/>
    QUALITY PRODUCT MEETS MODERN CONVENIENCE
  </h1>
</div>

<div class="section">
  <div class="float-wrap">
    <div class="half stack">
    </div>
    <div class="half">
      <div class="words">

        <h1>
          QUALITY PRODUCT
        </h1>
        <p>
          We source our condoms from Okamoto, Japan’s #1 condom brand.
          They are the world’s thinnest and finest condoms. Voted best condom in the world 12 years straight,
          they are meticulously tested for ultimate performance and safety.
          You won’t be able to go back using regular condoms.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section closeup">

</div>

<div class="section">
  <div class="float-wrap">
    <div class="half">
      <div class="words">
        <h1>
          MODERN CONVENIENCE
        </h1>
        <p>
          We provide discreet delivery to your doorsteps on a monthly basis
          so you never have to worry about buying condoms ever again.
        </p>
      </div>
    </div>
    <div class="half mailbox">
    </div>
  </div>
</div>

<div class="convert">
  <div class="words">
    <h1>
      THE ULTIMATE PLEASURE AWAITS
    </h1>
    <%= link_to "GET SAFE", select_pack_path, :class => 'btn change product-convert' %>
  </div>
</div>

<script type="text/javascript">
  $(window).load(function() {
    $('.hero').css('height', $('html, body').outerHeight());
  });

  $('.product-convert').on('click', function() {
    console.log("ha");
    mixpanel.track("product convert");
  });

</script>