<div class="container chooser">
  <div class="backwash"></div>
  <div class="title">
    <h1>YOUR TIME IS NOW</h1>
    <p>get busy living a little more</p>
    <div class="dasher"></div>
  </div>
  <div class="selections">
    <div class="selection">
      <div class="avatar-wrap">
        <div class="avatar-inner">
          <h3>
            The Wingman
          </h3>
          <div class="avatar">
            <%= image_tag "cube.png" %>
          </div>
        </div>
        <div class="price">
          CA $12.00/mo <br/>
          <span>S&H incl.</span>
        </div>
      </div>

      <%= link_to add_pack_path("wing"), :class => "select-btn" do %>
        Select
      <% end %>

      <div class="powers">
        <p>
          8 high quality Durex sensi-thin condoms
        </p>
        <p>
          1 premium Okamoto 0.03 condom, World’s Thinnest Condom, Made in Japan
        </p>
        <p>
          For those who value simplicity
        </p>
        <p>
          Sleek black box with a discreet magnetic lift
        </p>
        <p>
          Discreet delivery to your door step
        </p>
      </div>
    </div>
    <div class="selection">
      <div class="avatar-wrap">
        <div class="avatar-inner">
          <h3>
            The Connoisseur
          </h3>
          <div class="avatar">
            <%= image_tag "cube.png" %>
          </div>
        </div>
        <div class="price">
          CA $20.00/mo <br/>
          <span>S&H incl.</span>
        </div>
      </div>

      <%= link_to add_pack_path("conno"), :class => "select-btn" do %>
        Select
      <% end %>

      <div class="powers">
        <p>
          9 Premium Okamoto 0.03 Condoms, World’s Thinnest Condom, Made in Japan
        </p>
        <p>
          Japan’s #1 Best-Selling Condoms
        </p>
        <p>
          Reliable, thin, oderless comfort, for those who seek ultimate pleasure
        </p>
        <p>
          Sleek black box with a discreet magnetic lift
        </p>
        <p>
          Discreet delivery to your door step
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background: url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/heros/home-hero-1-1440-900.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
</style>

<script type="text/javascript">
  $('.header').addClass('dark');
</script>