$error: #ff4c4f;
$success: #61c478;
$light-success: #B5F1B3;
$change: #4597ca;
$change-dark: #3a7da7;

$prime: #93291c;
$prime: #992112;
$prime-dark: #742216;
$prime-pale: #cb2a13;
$secondary: #476572;