/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "fonts";
@import "colors";

p {
  line-height: 1.6em;
  color: #666;
  font-family: "GothamLight";
}

ul {
  font-family: "GothamLight";
  li {
    margin-bottom: 15px;
    line-height: 1.4em;
    &.indent {
      list-style-type: disc !important;
      margin-left: 30px;
    }
  }

}

.label {
}

.bold {
  font-weight: bold;
  color: #555;
}

a {
  text-decoration: none;
  &:hover, &:visited {
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.change-link {
  color: $change;
}

.danger-link {
  @include inline-block;
  margin-top: 30px;
  color: $prime;
}

input[type="submit"], button, .btn {
  outline: none;
  border: none;
  background-color: $prime;
  @include border-radius(3px);
  text-transform: uppercase;
  @include font-semibold;
  color: #eee;
  margin: 0;
  @include transition-property(background-color);
  @include transition-duration(0.3s);
  @include box-shadow(0 2px 0 $prime-dark);
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: $prime-pale;
  }
  &:disabled {
    color: #999;
    opacity: 0.5;
    &:hover {
      cursor: default;
      color: #999;
    }
  }
  &.cancel {
    background-color: $prime;
  }
  &.cancel:hover, &.cancel:active {
    background-color: $prime-pale;
  }

}

span {
  &.italic {
    font-style: italic;
  }
}

input, select, .customSelect {
  @include font-light;
  outline: none;
  font-size: 16px;
  color: #333;
  @include transition-property(background-color, border);
  @include transition-duration(0.3s);
  background-color: white;
  &[type='text'], &[type='email'], &[type='password'], &.customSelect {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    &:focus, &:hover {
      border: 1px solid #999;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

textarea {
  border: 1px solid #ccc;
  outline: none;
  &:focus, &:hover {
    border: 1px solid #999;
  }
  &:hover {
    cursor: pointer;
  }
}

select {
  padding: 9px;
  margin: 0;
  border: 1px solid #ccc;

  &:focus, &:hover {
    border: 1px solid #999;
  }
  &:hover {
    cursor: pointer;
  }
}

h3 {
  font-size: 24px;
  @include font-semibold;
  color: $secondary;
}

h4 {
  font-size: 24px;
  @include font-regular;
  color: #333;
}

.body-wrap {
  min-height:100%;
  position:relative;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

html, body {
  height: 100%;
}

body {
  @include font-light;
  color: #777;
  background-color: #fcfcfc;
}

a.light {
  color: #ddd;
  text-decoration: none;
  @include transition-property(color);
  @include transition-duration(0.3s);
  &:visited {
    color: #ddd;
  }
  &:hover {
    color: #7595a3;
  }
  &.special-select {
    color: $prime !important;
    padding: 5px;
    line-height: 1em;
    &:visited {
      color: $prime !important;
    }
  }
}

a {
  color: $secondary;
  &:hover, &:visted {
    color: $secondary;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 47px;
  text-align: center;
  .container {
    width: 98%;
  }
  .top-logo {
    height: 16px;
    position: relative;
    top: 16px;
  }
  a {
    position: relative;
    top: 9px;
    img {
      height: 30px;
      opacity: 0.6;
      @include transition-property(opacity);
      @include transition-duration(0.3s);
      &:hover {
        opacity: 1;
      }
    }
    &.square-logo {
      position: absolute;
      left: 0;
    }
  }
  a {
    font-size: 13px;
  }
  .right-links {
    position: absolute;
    right: 0;
    bottom: -4px;
    a {
      margin-left: 30px;
    }
  }
  .backwash {
    position: absolute;
    opacity: 0.3;
    background-color: black;
  }
  .container {
    position: relative;
  }
  &.dark {
    .backwash {
      position: absolute;
      opacity: 0.4;
      background-color: black;
    }
    .light {
      color: #aaa;
    }
  }
}

.footer {
  background-color: #262626;
  height: 50px;
  position: relative;
  z-index: 999;
  margin-top: 50px;
  span {
    font-size: 25px;
    background-color: #ddd;
    @include border-radius(5px);
    height: 2px;
    width: 2px;
    margin: 0 5px 0 4px;
    @include inline-block;
    position: relative;
    bottom: 1px;
  }
  .content {
    position: relative;
    top: 17px;
    text-align: center;
  }
  img {
    height: 12px;
  }
}

.main {
  .unit {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .foot {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 15px;
      img {
        height: 12px;
      }
    }
    .content {
      position: relative;
      top: 50%;
      text-align: center;
      margin-top: -125px;
      -webkit-transform-style: preserve-3d;
      .words {
        padding: 20px;
        position: relative;
        text-align: center;
        .stick {
          width: 100px;
          height: 3px;
          background-color: white;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        h3 {
          font-size: 90px;
          @include font-gotham;
          color: white;
          @include inline-block;
          @include text-shadow(0 0 45px #333);
          letter-spacing: 1px;
          span {
            position: relative;
          }
          .backwash {
            position: absolute;
            opacity: 0.35;
          }
        }
        p {
          font-size: 23px;
          position: relative;
          color: #ccc;
          @include font-chronicle;
          line-height: 1.2em;
        }
        a {
          position: relative;
          @include inline-block;
          color: white;
          padding: 12px 26px;
          margin-top: 30px;
          font-size: 17px;
          @include font-gotham;
          border: none;
          background-color: $prime;
          color: white;
          @include border-radius(3px);
          @include box-shadow(none);
          &:active {
            color: white;
            background-color: $prime;
          }
        }
      }

    }
  }
}

.landing {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .landing-items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .landing-buttons {
    position: absolute;
    bottom: 100px;
    right: 15px;
    top: 50%;
    z-index: 999;
    margin-top: -57px;
    .selector {
      background-color: $change;
      width: 5px;
      height: 35px;
      margin-bottom: 5px;
      opacity: 0.8;
      @include transition-property(background-color);
      @include transition-duration(0.3s);
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        cursor: pointer;
        background-color: $change-dark;
      }
      &.active {
        background-color: white;
        &:hover {
          cursor: default;
          background-color: white;
        }
      }
    }
  }
  .unit {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 10;
    @include transition-duration(2s);
    &.transition {
      // z-index: 12;
      -webkit-transform: translate3d(0px, -100%, 0px);
    }
    &.active {
      z-index: 11;
    }
    .content {
      text-align: left;
      position: relative;
      top: 50%;
      h1 {
        @include font-quicksand;
        font-size: 50px;
        color: white;
        margin-bottom: 30px;
        position: relative;
        display: inline-block;
        padding: 10px 15px;
        .backwash {
          position: absolute;
          opacity: 0.35;
        }
        span {
          position: relative;
        }
      }
      a {
        padding: 10px 15px;
        font-size: 20px;
        background-color: $change;
        color: white;
        @include transition-property(background-color);
        @include transition-duration(0.3s);
        &:hover {
          background-color: $change-dark;
          color: white;
        }
      }
    }
  }
}

.container {
  width: 960px;
  margin: 0 auto;
}

.container {
  display: table;
}

.strike {
  text-decoration: line-through;
}

#payment-form, .user-form {
  float: right;
  margin: 100px 0 200px;
  h3 {
    margin: 40px 0 20px;
    width: 472px;
    .same-billing {
      float: right;
      label {
        margin-left: 5px;
        position: relative;
        top: -1px;
        color: #777;
        font-size: 16px;
        @include font-light;
      }
    }
    .required-text {
      float: right;
      font-size: 16px;
      @include font-light;
      color: #888;
      span {
        font-size: 21px;
        @include font-semibold;
        color: $error;
        position: relative;
        top: 5px;
        margin-right: 3px;
      }
    }
    img {
      position: relative;
      top: 1px;
      height: 19px;
    }
  }
  .payment-errors {
    color: $error;
    margin-bottom: 10px;
  }
  .shipping-info {
    display: none;
  }
  .field-help {
    margin-top: -3px;
    font-size: 13px;
    margin-bottom: 10px;
    color: #888;
  }
  .form-row {
    input {
      display: inline-block;
      width: auto;
      margin: 0;
      margin-bottom: 10px;
    }
    &.credit-date {
      select, .customSelect {
        @include box-sizing(border-box);
        width: 224px;
      }
      .slash {
        margin: 0 5px;
      }
    }
    &.city-info {
      input {
        &:first-child {
          width: 226px;
        }
        select {
          width: 72px;
        }
        &:last-child {
          width: 122px;
        }
      }
    }
  }
  select, .customSelect {
    margin-bottom: 10px;
    @include box-sizing(border-box);
    padding: 12px 12px 11px;
    &.country,  {
      display: block;
      width: 472px;
    }
    &.state-select {
      width: 72px;
    }
  }
  p {
    width: 450px;
    font-size: 14px;
    color: #888;
  }
  input {
    display: block;
    width: 450px;
    margin-bottom: 10px;
    &.cvc {
      width: 100px;
    }
    &[type="text"] {
      background-image: url("ast.png");
      background-repeat: no-repeat;
      background-position: right center;
      &.not-required {
        background-image: none;
      }
    }
    &[type="checkbox"], &[type="submit"] {
      display: inline;
      width: auto;
    }
  }
  input[type="submit"] {
    margin-top: 20px;
    color: #eee;
    padding: 15px 25px;
    @include font-semibold;
    font-size: 21px;
  }
  .terms {
    margin-top: 20px;
  }
}

.checkout {
  .left {
    margin-top: 140px;
    float: left;
    h3 {
      margin-bottom: 30px;
      @include font-light;
      color: #111;
      font-size: 30px;
    }

    .info {
      width: 430px;
      background-color: #eee;
      padding: 10px;
      .inner {
        background-color: white;
        padding: 10px;
        display: table;
        width: 100%;
        @include box-sizing(border-box);
        .avatar {
          float: left;
          width: 165px;
          margin-right: 15px;
          text-align: center;
          img {
            margin-top: 35px;
            width: 80%;
          }
        }
        .content {
          float: left;
          width: 230px;
          margin-top: 10px;
          .line {
            display: table;
            width: 100%;
            margin-bottom: 15px;
            font-size: 15px;
            &.total {
              padding-top: 15px;
              border-top: 1px dashed #bbb;
            }
            .title {
              float: left;
              span {
                text-transform: uppercase;
                display: block;
                margin-top: 5px;
                font-size: 13px;
              }
            }
            .price {
              float: right;
              font-weight: bold;
              color: #333;

            }
          }
          .note {
            margin-top: 20px;
            color: #aaa;
            font-size: 13px;
            line-height: 1.4em;
          }
        }
      }
    }
  }

}

.update-payment {
  display: none;
  margin-bottom: 50px !important;
  input[type='submit'] {
    font-size: 15px !important;
    padding: 12px 20px !important;
  }
}

.update-shipping {
  display: none;
  input[type='submit'] {
    font-size: 15px;
    padding: 12px 20px;
  }
  h3 {
    margin-bottom: 0 !important;
  }
  .show {
    display: block;
  }
}

.hider {
  color: $change;
  @include font-light;
  font-size: 16px;
  margin-left: 15px;
  line-height: 24px;
  position: relative;
  bottom: 3px;
  &:hover {
    cursor: pointer;
  }
}

.canceller {
  color: $change;
  @include font-light;
  font-size: 15px;
  margin-left: 15px;
  line-height: 24px;
  &:hover {
    cursor: pointer;
  }
}

.user-form {
  float: none;
  margin-top: 0;
  .same-billing {
    margin-top: 15px;
    float: none !important;
  }
}

.accepted {
  img {
    height: 35px;
    margin-right: 5px;
  }
}

.error-field {
  border: 1px solid #ff7151 !important;
}

.left-panel {
  width: 250px;
  float: left;
  margin-top: 175px;
  padding-bottom: 100px;
  .item {
    padding: 18px 30px;
    display: block;
    color: #777;
    border-right: 3px solid #f6f6f6;
    @include transition-property(color, border, background-color);
    @include transition-duration(0.3s);
    line-height: 1.4em;
    &:visited {
      color: #777;
    }
    &.active, &:hover {
      border-right: 3px solid #333;
      color: #111;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.update-wrap {
  display: none;
}

.right-panel {
  padding-top: 175px;
  padding-bottom: 200px;
  padding-left: 50px;
  width: 660px;
  float: right;
  .sub-wrap {
    margin-top: 30px;
    display: table;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    @include border-radius(3px);
    &:before, &:after
    {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: rgba(0, 0, 0, 0.3);
      @include box-shadow(0 15px 10px rgba(0,0,0, 0.3));
      @include transform(rotate(-2deg));
    }
    &:after
    {
      @include transform(rotate(2deg));
      right: 10px;
      left: auto;
    }
    .avatar, .content {
      float: left;
    }
    .avatar {
      width: 185px;
      height: 1px;
      text-align: center;
      img {
        height: 100px;
        margin-top: 33px;
      }
    }
    h4 {
      font-family: "Gotham";
      text-transform: uppercase;
    }
    p, h4 {
      @include text-shadow(1px 1px white);
    }
    .content {
      border-left: 1px dashed #ddd;
      width: 402px;
      padding-left: 30px;
      p {
        font-size: 15px;
        line-height: 1em;
        margin-top: 5px;
        &.sub {
          font-size: 15px;
          color: #888;
          text-transform: uppercase;
        }
      }
      .line-item {
        text-transform: uppercase;
        margin: 25px 0;
        span {
          text-transform: none;
          color: 333;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .change-sub {
    margin-top: 20px;
    a {
      padding: 15px 25px;
      display: inline-block;
      font-size: 18px;
    }
  }
  .danger {
    padding: 20px;
    background-color: #f1f1f1;
    display: none;
    margin-top: 30px;
    h3 {
      margin-bottom: 15px;
    }
    p {
      width: 75%;
    }
    a {
      margin-top: 15px;
      padding: 10px 15px;
      display: inline-block;
      font-size: 15px;
    }
  }
  &.address-settings {
    #payment-form {
      margin-top: 0;
      float: none;
      .title {
        margin-top: 0;
      }
      input[type='submit'] {
        padding: 15px 25px;
        display: inline-block;
        font-size: 18px;
      }
    }
    .current-card {
      margin-bottom: 50px;
      @include font-semibold;
      color: #333;
      h3 {
        margin-bottom: 30px;
      }
      img {
        position: relative;
      }
      .card-wrap {
        @include box-shadow(inset 0 0 10px #ddd);
        background-color: #fafafa;
        padding: 15px 17px 10px 13px;
        @include inline-block;
      }
      .card-type {
        font-size: 22px;
        margin-left: 5px;
        position: relative;
        bottom: 15px;
      }
      .current-wrap {
        @include font-light;
        color: #777;
        h3 {
          margin-top: 50px;
          &:first-child {
            margin-top: 0;
          }
        }
        .billing {
          margin-bottom: 50px;
        }
        .account-item {
          width: 65%;
          display: table;
          margin: 15px 0;
          div {
            float: left;
            width: 50%;
            color: #999;
            &:last-child {
              @include font-light;
              font-weight: bold;
              color: #555;
            }
          }
        }
      }
    }
  }
}

.invoices {
  margin-top: 30px;
  .invoice-wrap {
    padding: 20px 25px;
    display: table;
    width: 100%;
    @include box-sizing(border-box);
    color: #777;
    border-bottom: 1px solid #eee;
    @include transition-property(background-color, color);
    @include transition-duration(0.3s);
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
      color: #333;
    }
    .desc {
      float: left;
      .state {
        color: $error;
        &.shipped {
          color: $success;
        }
      }
    }
    .price {
      float: right;
    }
  }
}

.invoice-header {
  height: 5px;
  background-color: #333;
  position: relative;
}

.invoice-container {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;
  .logo-image {
    text-align: center;
    margin-top: 80px;
    img {
      width: 110px;
    }
  }
  .content-wrap {
    margin-top: 80px;
    .billed-to {
      position: relative;
      .bold {
        margin-bottom: 10px;
      }
      line-height: 1.4em;
      .invoice-number {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        color: #aaa;
        .bold {
          margin-top: 5px;
        }
      }
    }
    .amount-wrap {
      margin-top: 80px;
      h3 {
        font-size: 16px;
        color: #aaa;
        span {
          float: right;
        }
        border-bottom: 1px dashed #ccc;
        padding: 15px;
        margin-bottom: 5px;
      }
      .item {
        padding: 15px;
        span {
          float: right;
        }
      }
      .total {
        margin-top: 5px;
        padding: 15px;
        text-align: right;
        border-top: 1px dashed #ccc;
        font-size: 20px;
      }
    }
  }
  p {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #aaa;
    text-align: center;
    line-height: 1.4em;
    font-size: 14px;
  }
}

.success-flash {
  margin: 0 auto;
  text-align: center;
  padding: 14px;
  background-color: $light-success;
  margin-bottom: -46px;
  position: relative;
  top: 47px;
  z-index: 999;
}

.edit-user-form {
  margin-top: 30px;
  label {
    margin: 15px 10px;
    display: block;
  }
  input {
    display: block;
    margin-bottom: 5px;
    &[type='submit'] {
      margin-top: 30px;
      font-size: 15px;
      padding: 12px 20px;
    }
  }
}

.subsection {
  margin-top: 50px;
}

.options {
  .option {
    display: table;
    width: 100%;
    padding: 35px 0;
    border-bottom: 1px dashed #ddd;
    &:last-child {
      border-bottom: 0;
    }
    p {
      float: left;
      width: 275px;
    }
    a {
      margin-top: -5px;
      text-align: center;
      float: right;
      padding: 9px 0 6px;
      width: 200px;
      font-size: 15px;
      text-transform: uppercase;
      line-height: 1.4em;
      span {
        font-family: "GothamThin";
      }
    }
  }
}

.modal-outer, .backwash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-outer {
  display: none;
  .modal {
    position: relative;
    top: -100%;
    padding: 20px;
    height: 385px;
    width: 425px;
    margin: 0 auto;
    margin-top: -212px;
    background-color: white;
    z-index: 999;
    @include transition-property(top);
    @include transition-duration(0.3s);
    &.open {
      top: 50%;
    }
  }
}

.cancel-modal {
  h4 {
    margin-bottom: 10px;
  }
  .feedback-option {
    margin: 15px 0;
  }
  textarea {
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 10px;
    @include font-light;
    @include box-sizing(border-box);
    outline: none;
    font-size: 15px;
    line-height: 1.4em;
    color: #555;
  }
  input[type="submit"] {
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 25px;
  }
}

.backwash {
  background-color: black;
  opacity: 0.9;
}

.chooser {
  position: relative;
  width: 1120px;
  padding-bottom: 75px;
  margin-top: 47px;
  .backwash {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
  .title {
    position: relative;
    text-align: center;
    h1 {
      @include font-gotham;
      color: #eee;
      text-align: center;
      margin-top: 80px;
      font-size: 60px;
    }
    p {
      text-align: center;
      margin-top: 5px;
      font-size: 23px;
      line-height: 1em;
      @include font-chronicle;
      color: #ccc;
    }
    img {
      height: 30px;
      margin-top: 10px;
      opacity: 0.4;
    }
  }

}

.selections {
  display: table;
  margin-top: 80px;
  .selection {
    float: left;
    width: 345px;
    @include box-sizing(border-box);
    margin-left: 75px;
    position: relative;
    text-align: center;
    &:first-child {
      margin-left: 178px;
    }
    .select-btn-wrap {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      text-transform: uppercase;
      margin: 0 35px;
      padding: 19px 0;
      font-family: "GothamLight";
      @include border-bottom-right-radius(3px);
      @include border-bottom-left-radius(3px);
      .want {
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
    }
    .pack-select {
      font-family: "Gotham";
      @include inline-block;
    }
    .select-btn {
      @include inline-block;
      width: 85%;
      @include box-sizing(border-box);
      padding: 11px 0;
      font-size: 18px;
      @include box-shadow(none);
      background-color: $prime;
      margin-top: 15px;
      @include font-gotham;
      color: white;
      @include border-radius(3px);
      letter-spacing: 1px;
      span {
        font-family: GothamLight;
        color: #ccc;
        text-transform: lowercase;
      }
    }
    .avatar-wrap {
      position: relative;
      background-color: #e6e6e6;
      color: white;
      background-attachment: fixed;
      overflow: hidden;
      margin: 15px;
      @include box-shadow(0 0 90px #333);
      margin-bottom: 0;
      .backwash {
        background-color: white;
      }
      &:before, &:after
      {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.3);
        @include box-shadow(0 13px 10px rgba(0,0,0, 0.2));
        @include transform(rotate(-4deg));
      }
      &:after
      {
        @include transform(rotate(4deg));
        right: 10px;
        left: auto;
      }
      .avatar-inner {
        margin: 10px;
        position: relative;
        line-height: 1.7em;
        .limited {
          font-family: "GothamThin";
          text-transform: uppercase;
          font-size: 16px;
          color: #666;

          -webkit-backface-visibility: hidden;
          @include rotate(315deg);
          position: absolute;
          left: -80px;
          top: -29px;
          background-color: $secondary;
          text-shadow: none;
          color: white;
          padding: 36px 13px 3px;
          width: 162px;
          text-align: center;
          font-size: 13px;
          letter-spacing: 1px;
          color: #eee;
          line-height: 1.4em;
        }
      }
      .price {
        @include text-shadow(0 1px 0 white);
        padding: 10px 0;
        color: #222;
        line-height: 1.1emem;
        font-size: 20px;
        @include font-regular;
        text-align: center;
        background-color: #ddd;
        border-top: 1px dashed #bbb;
        position: relative;
        overflow: hidden;
        span.strike {
          color: #999;
          font-size: 18px;
          @include text-shadow(none);
        }
        span {
          display: block;
          margin: 10px 0;
          &.real {
            font-family: "Gotham";
            color: #333;
            font-size: 23px;
          }
        }
        span.sub {
          @include font-light;
          color: #333;
          font-size: 16px;
        }
      }
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      padding-top: 40px;
      font-family: "Gotham";
      @include text-shadow(0 1px 0 white);
      font-size: 25px;
      color: #333;
      line-height: 1.5em;
      letter-spacing: 2px;
      span {
        &:first-child {
          display: block;
          font-family: "GothamLight";
        }
        &:last-child {
          font-size: 30px;
        }
      }
    }
    .avatar {
      text-align: center;
      img {
        height: 140px;
        margin: 25px 0;
      }
    }
    h4 {
      font-size: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      color: #555;
    }
    p {
      font-size: 16px;
      margin-bottom: 23px;

      color: #ddd;
      &:last-child {
        border-bottom: none;
      }
    }
    .powers {
      padding: 35px 20px;
    }
  }
}

.dasher {
  width: 100px;
  margin: 0 auto;
  border-top: 1px dashed #aaa;
  height: 1px;
  margin-top: 15px;
}

.static {
  margin-bottom: 100px;
  h1 {
    @include font-quicksand;
    font-size: 80px;
    text-align: center;
    margin: 120px 0 75px;
    color: #333;
    @include text-shadow(0 1px 0 white);
  }
  .content {
    h2 {
      @include font-semibold;
      color: #333;
      font-size: 30px;
      margin: 40px 0 40px 0;
    }
  }
  ul {
    margin-left: 30px;
    li {
      list-style-type: circle;
    }
  }
}

.faq {
  h3 {
    @include font-regular;
    color: #444;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  margin-bottom: 100px;
}

.legal {
  .sections {
    display: table;
    width: 100%;
    .item {
      float: left;
      width: 49.5%;
      @include box-sizing(border-box);
      background-color: #eee;
      margin-left: 0.5%;
      padding: 13px 0;
      text-align: center;
      @include transition-property(background-color color);
      @include transition-duration(0.3s);
      &:first-child {
        margin-left: 0;
      }
      &.active {
        background-color: #222;
        color: #eee;
        &:hover {
          background-color: #222;
          color: #eee;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: #ddd;
      }
    }
  }
  .content {
    display: none;
    h3 {
      margin: 40px;
      color: #444;
    }
    p {
      margin-bottom: 30px;
    }

    table {
      width: 100%;
      tr {
        th, td {
          border: 1px solid #aaa;
          padding: 20px;
          width: 25%;
          &:last-child {
            font-weight: bold;
            color: #444;
          }
        }
        &:first-child th {
          font-weight: bold;
        }
      }
      margin-bottom: 10px;
    }
  }
}

.registration {
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  margin-top: 150px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  h2 {
    @include font-regular;
    font-size: 30px;
    margin-bottom: 35px;
    color: #333;
  }
  input[type=text], input[type=email], input[type=password] {
    width: 300px;
    @include box-sizing(border-box);
    margin-bottom: 10px;
  }
  .devise-error {
    margin-bottom: 15px;
  }
  input[type=submit] {
    padding: 9px 20px;
    margin-bottom: 20px;
  }
  a {
    display: block;
    margin-top: 7px;
    font-size: 14px;
  }
  .omni-link {
    @include transition-property(box-shadow);
    @include transition-duration(0.3s);
    height: 38px;
    display: block;
    &:hover {
      @include box-shadow(0 0 5px #666);
    }
  }
  .or {
    hr {
      border: 0;
      border-top: 1px dashed #aaa;
      position: relative;
      top: 12px;
    }
    text-align: center;
    margin: 15px 0;
    span {
      background-color: #f5f5f5;
      position: relative;
      bottom: 5px;
      width: 40px;
      display: inline-block;
    }
  }
}

.devise-error {
  color: $error;
  font-size: 15px;
  &:empty {
    display: none;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  li {
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
  }
}


.free-meter {
  border: 1px solid #aaa;
  background-color: white;
  display: table;
  width: 100%;
  @include box-sizing(border-box);
  padding: 30px;
  .free-content {
    float: left;
    h3 {
      width: 170px;
      text-align: center;
      @include font-quicksand;
      margin-top: 10px;
      span {
        display: block;
        font-size: 100px;
        @include font-semibold;
        margin-bottom: 10px;
        color: #111;
      }
      font-size: 20px;
    }
  }
  .free-wrapper {
    width: 100%;
    float: right;
    width: 395px;
  }
  .small-safe {
    width: 75px;
    height: 28px;
    float: left;
    @include border-radius(2px);
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    &:nth-child(5n) {
      margin-right: 0;
    }
    img {
      margin-top: 6px;
      height: 15px;
      opacity: 0.2;
    }
  }
  .black-safe {
    background-color: #333;
  }
  .grey-safe {
    background-color: #eee;
  }
}

.referral-content-wrap {
  margin-top: 50px;
  p {
    margin-top: 30px;
  }
  input {
    margin-top: 30px;
    width: 100%;
    @include box-sizing(border-box);
    background-color: #eee;
    color: #555;
  }
}

.share-wrap {
  margin-top: 30px;
  display: table;
  width: 100%;
  a {
    display: block;
    margin-right: 3%;
    float: left;
    &:last-child {
      margin-right: 0;
    }
  }
  .share-box {
    padding: 15px;
    border: 1px solid #ddd;
    width: 206px;
    color: #666;
    @include box-sizing(border-box);
    text-align: center;
    @include transition-property(background-color, border);
    @include transition-duration(0.3s);
    height: 65px;
    &:hover {
      background-color: white;
      border: 1px solid #aaa;
    }
    img {
      height: 30px;
      margin-right: 10px;
    }
    span {
      position: relative;
      bottom: 8px;
    }
    &.facebook-share img {
      margin-right: 3px;
    }
    &.mail-share {
      img {
        height: 20px;
        line-height: 30px;
        position: relative;
        top: 5px;
      }
      span {
        bottom: 0;
      }
    }
  }
}

.restart-wrap {
  border: 1px solid #aaa;
  background-color: white;
  .restart-inner {
    margin: 5px;
    border: 1px dashed #ddd ;
    height: 200px;
    text-align: center;
    h3 {
      margin-top: 55px;
    }
    p {
      margin-top: 10px;
    }
    a {
      @include inline-block;
      margin-top: 15px;
      padding: 5px 10px;
    }
  }
}

.hero {
  height: 800px;
  background: url("product/g8.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: table;
  width: 100%;
  .words {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    color: white;
    h1 {
      font-size: 140px;
      margin-bottom: 10px;
      letter-spacing: 30px;
      font-family: "GothamThin";
    }
    p {
      font-size: 40px;
      color: white;
    }
  }
}

.quote {
  text-align: center;
  font-size: 25px;
  line-height: 1.5em;
  display: table;
  width: 100%;
  h1 {
    display: table-cell;
    vertical-align: middle;
  }
  .liner {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 1px;
    border-top: 1px solid #aaa;

  }
}

.section {
  height: 450px;
  .float-wrap {
    display: table;
    width: 100%;
    height: 100%;
    .half {
      float: left;
      width: 50%;
      height: 100%;
      display: table;
      &.stack {
        background: url("product/stack.jpg");
        background-size: cover;
        background-position: center;
      }
      &.mailbox {
        background: url("product/mailbox.jpg");
        background-size: cover;
        background-position: center;

      }
      .words {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        background-color: #eee;
        @include text-shadow(0 1px 0 white);
        h1 {
          font-size: 40px;
          margin-bottom: 20px;
          color: $prime;
        }
        p {
          padding: 0 80px;
          color: #333;
        }
      }

    }
  }
}

.closeup {
  background: url("product/closeup.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.convert {
  background: url("product/g7.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 900px;
  display: table;
  width: 100%;
  text-align: center;
  color: white;
  .words {
    display: table-cell;
    vertical-align: middle;
    h1 {
      font-size: 40px;
      margin-bottom: 100px;
    }
    a {
      padding: 10px 30px;
      font-size: 22px;
    }
  }
}

.placeholder {
  color: #aaa;
}
